<div class="Panel">
  <h4 class="Panel__Title Heading u-h2">Check Delivery:</h4>

  <div class="Panel__Content">
    <div class="ShippingEstimator">

      <div id="cs_shipping_rate">
        <div  class="form">
          {% if template contains 'product' %}
          {% assign v = product.selected_or_first_available_variant %}
          
          
          <input type="hidden" name="product_id" value="{{ product.id }}" />
          
          <input type="hidden" name="variant_id" value="{{ v.id }}" />
          <input type="hidden" name="sku" value="{{ v.sku }}" />
          <input type="hidden" name="type" value="{{ product.type }}" />
          <input type="hidden" name="tag" value="{{ product.tags | join: ',' }}" />
          <input type="hidden" name="name" value="{{ product.title }}" />
          
          <input type="hidden" name="quantity" value="{{ v.inventory_quantity }}" />
          <input type="hidden" name="grams" value="{{ v.weight }}" />
          <input type="hidden" name="price" value="{{ v.price }}" />
            <input type="hidden" name="vendor" value="{{ product.vendor }}" />
          {% else %}
          {% assign col = collections['all'] %}
          {%- for product in collections['all'].products limit:1 -%}
          {% assign v = product.selected_or_first_available_variant %}
     
          <input type="hidden" name="product_id" value="{{ product.id }}" />
          
          <input type="hidden" name="variant_id" value="{{ v.id }}" />
          <input type="hidden" name="sku" value="{{ v.sku }}" />
          <input type="hidden" name="type" value="{{ product.type }}" />
          <input type="hidden" name="tag" value="{{ product.tags | join: ',' }}" />
          <input type="hidden" name="name" value="{{ product.title }}" />

          <input type="hidden" name="quantity" value="{{ v.inventory_quantity }}" />
          <input type="hidden" name="grams" value="{{ v.weight }}" />
          <input type="hidden" name="price" value="{{ v.price }}" />
          <input type="hidden" name="vendor" value="{{ product.vendor }}" />
          {% endfor %}
          {% endif %}
          <div class="ShippingEstimator__Form" style="padding-bottom:10px;">
            <input id="input_postcode" type="text" class="Form__Input" name="postal_code" placeholder="Postcode">

            <button id="search_postcode" type="submit" class="Button Button--primary btn btn--no-animate">Check</button>
          </div>

          <div class="ShippingEstimator__Error" style="display: none"></div>
          <div id="shipping_rates"></div>
        </div>
      </div>
    </div>
  </div>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}

<script>
  $(document).ready(function () {
    var wmf = "{{ shop.money_format }}";

    $('.ShippingEstimator__Error').hide();
    $("#search_postcode").on("click", function (e) {
      e.preventDefault();
      var form = $(this).closest('.form');
      var destinations = {};
      var rate = [];
      var temp = {};
      var pc = form.find('[name="postal_code"]').val();
      var destination = {};
      destination["postal_code"] = pc;
      destination["province"] = "";
      destination["country"] = "";
      destinations["destination"] = destination;
      temp = destinations;

      var quantity = form.find('[name="quantity"]').val();
      var grams = form.find('[name="grams"]').val();
      var price = form.find('[name="price"]').val();
      var vendor = form.find('[name="vendor"]').val();
      var product_id = form.find('[name="product_id"]').val();

      var variant_id = form.find('[name="variant_id"]').val();
      var sku = form.find('[name="sku"]').val();
      var type = form.find('[name="type"]').val();
      var tag = form.find('[name="tag"]').val();
      var name = form.find('[name="name"]').val();


      var items = [];
      var item = {};
      item["quantity"] = 1;
      item["grams"] = grams;
      item["price"] = price;
      item["vendor"] = vendor;
      item["product_id"] = product_id;
      item["variant_id"] = variant_id;
      item["sku"] = sku;
      item["type"] = type;
      item["tag"] = tag;
      item["name"] = name;
      items.push(item);
      //         }
      temp["items"] = items;
      var shop = Shopify.shop;
      rate = temp;
      var html ='';
      $.ajax({
        url: "https://sbz.cirkleinc.com/front-widget",
        data: {rate,shop},
        dataType:'JSON',
        crossDomain: true,
        type: "post",
        success: function (srates) {
          console.log(srates,$('#input_postcode').val());
          if($('#input_postcode').val() == ""){
            $('.ShippingEstimator__Error').html('Enter the zip code.').show();
          }else{
            if(typeof srates.rates == 'undefined') {
              $('.ShippingEstimator__Error').html('Sorry! Shipping not available for this location.').show();
              return false;
            }
            if(srates.rates.length <= 0){
              if($('#input_postcode').val() == ""){
                $('.ShippingEstimator__Error').html('Enter the zip code.').show();
              }else{
                $('.ShippingEstimator__Error').html('Sorry! Shipping not available for this location.').show();
              }
              $('#shipping_rates').hide();
            }else{
              html += '<ul>';
              $(srates.rates).each(function(index,val) {
                $('.ShippingEstimator__Error').hide();
                html += '<li><span>'+val.service_name +' -  ' +Shopify.formatMoney(val.total_price,wmf)+'</span></li>' 
                console.log("s:", val);
              });
              html += '</ul>'
              $('#shipping_rates').html(html).show();
            }
          }
        },
      });
    });
  });
</script>

<style>
  .Panel {
    max-width: 100%;
    margin: 0;
    padding: 15px 0 0 0;
  }
  #shipping_rates li span{
    font-size: 16px;
    color: #008000;
    width: 100%;
    line-height: 14px;
  }
  #shipping_rates b {
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
  }
  #shipping_rates li {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    justify-content: flex-end;
  }
  #shipping_rates ::marker{
    content:none;
  }
  #cs_shipping_rate  .ShippingEstimator__Error {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Goldenbook_W01_Bold';
    font-size: 18px;
    color: #ff0000;
  }
  #cs_shipping_rate  .ShippingEstimator__Error a {
    text-decoration: underline;
  }
  #cs_shipping_rate button#search_postcode {
    font-size: 14px;
  }
  #input_postcode {
    vertical-align: middle;
  }
</style>