<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}
	{{ checkout_stylesheets }}
    {{ checkout_scripts }}
    
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Work+Sans:wght@400;600&display=swap" rel="stylesheet">    

    <style>
      .section__title.order-notes {
        display: inline-block;
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 100%;
        float: none;
      }
      .product td {
        border: none;
      }
      .product-thumbnail {
        border: none;
        background: transparent;
      }
      .product-thumbnail::after {
        border: none;
      }
      [data-select-gateway="62750589128"] .radio__label__accessory, 
      .content .shopify-cleanslate .paypalLight, 
      .shopify-cleanslate .kEwctmM5pguv6XkPR8mx6:nth-child(2), 
      .shopify-cleanslate .kEwctmM5pguv6XkPR8mx6:last-child {
        display: none !important;
      }    
      [data-select-gateway="62750589128"] img { 
        margin-left: -11px;
      }
      .content .shopify-cleanslate .kEwctmM5pguv6XkPR8mx6 {
        margin-right: 0!important;
        max-width: none !important;
      }
  	  .page--logo-main body {
        font-family: 'IBM Plex Mono', monospace !important;
        font-weight: 400;
      }
	  .page--logo-main h1,
      .page--logo-main h2,
      .page--logo-main .payment-due__price,
      .page--logo-main .order-summary__emphasis,
      .page--logo-main .step__footer__previous-link-content {
      	font-family: 'Work Sans', sans-serif !important;
        font-weight: 600;
      }
      .page--logo-main .main .logo {
        text-align: left !important;
       }
      .page--logo-main .breadcrumb {
        display: flex;
        flex-flow: row;
        justify-content: flex-start !important;
      }
      .page--logo-main .btn,
      .btn--subdued {
        border-radius: 0 !important;
        text-transform:  uppercase !important;
        font-family: 'Work Sans', sans-serif !important;
        font-weight: 600;
        color: #fff;
      }
      .page--logo-main .step__footer__continue-btn:hover,
      .btn--subdued:hover {
        background-color: #fff;
        border: 1px solid #c67a26;
        color: #c67a26;
      }
      .arrive-button__regular {
        font-weight: 700;
      }
      .page--logo-main .field__input {
        border-radius: 0 !important;
      }
      .page--logo-main #smsbump-consent-message {
        font-family: 'Work Sans', sans-serif !important;
        font-weight: 400;
      }
      img[alt="PayPal"] {
        height:18px;
      }
      .step__footer__previous-link, #continue_button {
        text-transform: capitalize;
      }
      .checkout-checkbox {
      	-webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        margin: 1rem .5rem 1rem .1rem;
      }
      .main__footer .policy-list__item  a {
        color: #000; 
        text-decoration: underline;
  	  }  
      .btn, .sp-modal-toggle {
        background: #C67A26; 
      }
    </style>
    
    <!-- Hotjar  -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1685243,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
  	<!-- End of Hotjar  -->   
    <!-- SMSBump opt-in  --> 
  	{% render 'smsbump_checkout_marketing_subscription' %}
	<!-- End of SMSBump opt-in  --> 
  </head>
  <body>
    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        <a href="https://sauna.space/cart">{{ content_for_logo }}</a>
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            <a href="https://sauna.space/cart">{{ content_for_logo }}</a>
            {{ breadcrumb }}
            <!-- {{ alternative_payment_methods }} -->
          </div>
          <div class="main__content">
            {{ content_for_layout }}
            <script>  
              Checkout.$(document).on('page:load', function() {
                let cart_note_input = '<h2 class="section__title order-notes" style="margin-left: 8px" id="section-delivery-title">Order Notes</h2><textarea name="checkout[note]" placeholder="Enter order notes here like signature not required or hold my order, etc..." value="{{ checkout.note }}" data-cart-notes-textarea maxlength="160" class="field__input" style="margin: 0 5px 3rem; width: 98%">{{ checkout.note }}</textarea>'
//                 Checkout.$('.address-fields').append(cart_note_input)    
                Checkout.$(cart_note_input).insertAfter('.address-fields');
                }); 
            </script>
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>        
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            <a href="https://sauna.space/cart">{{ content_for_logo }}</a>
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>  

    {{ tracking_code }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
      (function($){        
        {% if checkout.note %}
         var order_note = '{{ checkout.note }}'

        Shopify.Checkout.OrderStatus.addContentBox(
          '<h2 class="ordernotesh3">Order notes</h2><p style="margin-top: 10px">' + order_note + '</p>'
        )
		{% endif %}

        
        $('[data-title-text="Refund policy"]').text(function () {
          return $(this).text().replace("Refund policy", "Shipping & Returns"); 
        });   

        document.addEventListener('DOMContentLoaded', function() {
               document.querySelector('img[alt="Bread"]').setAttribute('src', 'https://cdn.shopify.com/s/files/1/0026/7229/6025/files/sauna-now-finance-over-time.png?v=1640116210');
            });
      })(jQuery);
	</script>
    
  </body>
</html>
