<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>



<div class="generic-headerBG">
    <div class="generic-header">
        <div class="gh-text">
            <cms id='cms0'>
            <h1>Wellbeing Done Well</h1>
            <p class="etica">At SaunaSpace, we take pride in all the details that add up to world-class saunas. We constantly challenge ourselves to find a better way. See how our philosophy touches every part of what we do.</p>
            </cms cms0>
        </div>
    </div>
</div>

<div class="two-cols two-cols-wide tc-reverse">
    <div class="col">
        <img src="{{ 'about-brian-richards.jpg' | asset_url }}" alt="" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms1'>
            <p class="etica">From Brian Richards, SaunaSpace founder</p>
            <h2 class="alignLeft" style="text-transform: none;">In 2008, I discovered how life-changing a sauna could be.</h2>
            <p>Insomnia, adrenal fatigue, and acne were getting in the way of my everyday life. When an alternative medicine doctor recommended near infrared sauna therapy, I was grateful for a solution that didn’t involve prescription drugs, but there weren’t many options for near infrared saunas.</p>
            <p>Within days I started to notice changes, and continued treatment brought all of my symptoms to a halt. I became obsessed with perfecting the technology so I could make it accessible to everyone.</p>
            <p>Thirteen years later, we have a team of great engineers and craftspeople who share my mission: to give everyone a natural way to relax, get relief, and live their healthiest lives. I’m proud of how many people we’ve helped in that time, and we’re determined to keep improving so we can change lives for many years to come.</p>
            </cms cms1>
        </div>
    </div>
</div>


    <div class="orangeBG">
        <div class="pull-quote">
            <cms id='cms2'>
            <h2>I became obsessed with perfecting the technology so I could make it accessible to everyone.</h2>
            <p class="etica">– Brian Richards, SaunaSpace Founder</p>
            </cms cms2>
        </div>
    </div>


<div class="two-cols two-cols-wide">
    <div class="col">
        <img src="{{ 'about-people-come-first.jpg' | asset_url }}" alt="" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms3'>
            <h2 class="alignLeft">People Come First</h2>
            <p>We don’t cut corners when it comes to our products, and we don’t do it with our team, either. SaunaSpace products are built by skilled craftspeople, and treating them well is a core part of our success.</p>
            <p>We hire people from diverse backgrounds, offer on-the-job training, and support them with the benefits that matter most. Every employee is paid a sustainable living wage and gets employer-paid healthcare because we believe that responsible labor practices matter. When you buy from SaunaSpace, you can be confident that you’re supporting a company that promotes fairness and equity.</p>
            </cms cms3>
        </div>
    </div>
</div>


    <div class="oc2"  style="background-image: url({{ 'about-workshop.jpg' | asset_url }});">
        <div class="oc-text">
            <cms id='cms4'>
            <h2 class="alignLeft">Putting the Heart in the Heartland.</h2>
            <p>SaunaSpace products are assembled by hand at our facility in Columbia, Missouri. And to ensure that “Made in the USA” is synonymous with high-quality products, we keep our workshop clean, allergen-free, and running like clockwork.</p>
            </cms cms4>
        </div>
    </div>

<div class="two-cols two-cols-wide tc-reverse tc-top">
    <div class="col">
        <img id="bpImg" src="{{ 'about-sauna-components.jpg' | asset_url }}" alt="" loading="lazy"  />
    </div>
    <div class="col build-panels">
        <div class="build-panel">
        <cms id='cms8a'>
        <div class="bp-head no-hover">North American basswood</div>
        <p>Sustainably harvested and crafted without chemicals or oils.</p>
        </cms cms8a>
        </div>

        <div class="build-panel">
        <cms id='cms8b'>
        <div class="bp-head no-hover">Stainless steel</div>
        <p>Untreated USA-manufactured guards free of powder coating.</p>
        </cms cms8b>
        </div>

        <div class="build-panel">
        <cms id='cms8c'>

<div class="bp-head no-hover">Organic bamboo</div>
<p>Heat- treated for durability. Unvarnished and chemical-free.</p>
</cms cms8c>
        </div>

        <div class="build-panel">
        <cms id='cms8d'>
<div class="bp-head no-hover">Organic canvas</div>
<p>100% cotton canvas, certified according to the <a href="https://global-standard.org/the-standard" target="_blank">Global Organic Textile Standard (GOTS)</a>.</p> 
</cms cms8d>
        </div>

        <div class="build-panel">
        <cms id='cms8e'>
        <div class="bp-head no-hover">Organic cotton and antimicrobial silver</div>
        <p>Our revolutionary EMF-shielding fabric is free of aluminum and nickel.</p>
        </cms cms8e>
        </div>

        <div class="build-panel">
        <cms id='cms8f'>
        <div class="bp-head no-hover">Incandescent bulbs</div>
        <p>No mercury. No plastics. Our bulbs are completely recyclable and more sustainable than LEDs or fluorescents.</p>
        </cms cms8f>
        </div>

        <div class="build-panel">
        <cms id='cms8g'>
        <div class="bp-head no-hover">Natural dyes</div>
        <p>All our sauna colors are created using low-impact natural dyes. Our Turmeric covers go even further, using ayurvedic principles to preserve the herb’s natural benefits.</p>
        </cms cms8g>
        </div>
    </div>
</div>

<div class="two-cols two-cols-wide">
    <div class="col">
        <img src="{{ 'about-design.jpg' | asset_url }}" alt="" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms5'>
<h2 class="alignLeft">Purpose-Driven Design</h2>
<p>Every inch of our products is meticulously engineered to make your experience simple, comfortable, and effective. From dual-layer covers that maintain the perfect temperature to durable analog controls, everything is designed to stand the test of time. 

</p><p><strong>Tool-free assembly</strong><br>
Put your sauna together in minutes. No extra installation costs.</p>

<p><strong>Portable design</strong><br>
Stow away your sauna in minutes and take it with you when you move. </p>

<p><strong>Accessible footprint</strong><br>
Small enough to fit in an apartment, big enough to accommodate a wheelchair. </p>

<p><strong>Analog controls</strong><br>
Complex electronics are more likely to break down over time. We keep things simple so your investment lasts longer.</p>

<p><strong>EMF shielding</strong><br>
Our neutralizing bulb enclosures, grounding mats, and industry-leading shielding fabric help minimize your exposure to the electromagnetic fields in your environment. <a href="what-are-electromagnetic-fields-emfs.html">Learn More</a>.</p>
</cms cms5>
        </div>
    </div>
</div>

    <div class="orangeBG">
        <div class="emf-learn">
            <cms id='cms6'>
            <h2>Just the Facts</h2>
            <p>We’re dedicated to bringing you therapeutic products that are backed by science. No hype. No gimmicks. Only thoughtful technology that works like nature. If you’d like to geek out with us, we’re happy to share the research.</p>
            <div class="two-btns">
                <a href="how-do-infrared-saunas-work.html" class="btn btn-outline">Learn Infrared Science</a>
                <a href="infrared-sauna-light-therapy-research.html" class="btn btn-outline">Explore Research Archives</a>
            </div>
            </cms cms6>
        </div>
    </div>

<div class="two-cols two-cols-wide tc-reverse">
    <div class="col">
        <img src="{{ 'about-satisfaction.jpg' | asset_url }}" alt="" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms7'>
<h2 class="alignLeft">Satisfaction Guaranteed</h2>
<p>In the end, everything we do is for you, our customers. We are extremely proud of how our ethics, design, and research come together to support your wellness goals. That’s why we stand behind our products with a <a href="100-day-home-trial.html">100-day home trial</a> and <a href="warranty.html">generous warranties</a>. Try us out for yourself, and if it’s not the right fit, we make <a href="shipping-and-returns.html">returns</a> easy.</p>
<p><strong>Ready to experience the SaunaSpace difference?</strong></p>
<div class="btnBox"><a href="infrared-saunas.html" class="btn">Shop Saunas</a></div>
</cms cms7>
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
