<link
  rel="stylesheet"
  href="{{ 'section-main-page.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{ 'component-rte.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
{{ "careers.css" | asset_url | stylesheet_tag }}

<noscript>{{ "section-main-page.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "component-rte.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "careers.css" | asset_url | stylesheet_tag }}</noscript>

<div class="generic-headerBG noMargin">
    <div class="generic-header">
        <div class="gh-text container">
            <cms id='cms0' class="row">
                <h1>Careers</h1>
                <p class="etica">Wanted: Forward-Thinkers, Lifelong <br/>Learners, and Multi-Talented Misfits</p>
            </cms cms0>
        </div>
    </div>
</div>

<div class="intro">
    <div class="container">
        <div class="inner-content row">
            <div class="col-12">
                <p>
                    <a href="#artisan" >
                        <span>
                            <strong>Open Positions </strong> <img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/46d4ea15-black-arrow.svg?v=1653622579"  alt="right arrow" loading="lazy">
                        </span>
                    </a>
                </p>
                <p>
                    At SaunaSpace, we're committed to wellness. Empowered by deliberate craftsmanship and rooted in science, our therapeutic technology harnesses the power of the sun to naturally optimize health. This focus on well-being also informs a simple set of principles that guide how we approach our work and each other. If these resonate with you, check out our open positions because there might be a role with your name on it.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="self">
    <div class="container">
        <div class="inner-content row">
            <div class="col-5">
                <h3 class="text-uppercase">Self-managing Instead of Micromanaging</h3>
                <p>
                    We believe in giving employees a clear understanding of what is expected and then letting them do what they think is best to meet those expectations. Adults at work should feel like adults. We trust you to get it done.
                </p>
                <h3 class="text-uppercase">Craftsmanship and Wayfinders</h3>
                <p>
                    Ever worked with a know-it-all? You won't work with any here. We believe those who can approach their work with a beginner's mind are the true craftspeople, diligent enough to perfect details through perpetually fresh eyes, and curious enough to imagine a new way. We keep our minds open to revelation and expect that you will too.
                </p>
            </div>
            <div class="col-7">
                <img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/self-managing.jpg?v=1653620939" alt="self-managing" loading="lazy">
            </div>
            
        </div>
    </div>
</div>

<div class="people">
    <div class="container">
        <div class="inner-content row">
            <div class="col-7">
                <img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/oixke8-fece3aa7-dbdb-4fcd-89bd-ab666ef1ee8d-1-105-c_10hn0nk0fa0ix02d00001o.jpg?v=1653621324" alt="people first, always" loading="lazy">
            </div>
            <div class="col-5">
                <h3 class="text-uppercase">People First, Always</h3>
                <p>
                    We're a diverse team of forward-thinkers, lifelong learners, and multi-talented misfits from all kinds of backgrounds. We hire based foremost on integrity, invest in on-the-job training, and work with your strengths to help you reach your full potential. Every employee is paid a sustainable living wage and receives a very competitive benefits package.
                </p>
                <h3 class="text-uppercase">Next-Level Benefits</h3>
                <p>
                    Part of our mission is to create a little more wellness in the world, not just for our customers, but for our employees too. This means all employees at the 6 month mark receive their very own SaunaSpace Luminati sauna to boost immunity and optimize their health by harnessing the power of sunlight. Want to share the perks with friends and family? We make it easy with a significant employee discount. You'll also get employer-paid health, dental, vision, and life insurance. Plus 40 hours of paid vacation after the first year and 80 hours after the second year. Oh, and did we mention the complimentary weekly yoga classes? Yeah, we've got your wellness covered.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="self">
    <div class="container">
        <div class="inner-content row">
            <div class="col-5">
                <h3 class="text-uppercase">Transparency And Community</h3>
                <p>
                    We don't just value open minds, but an open layout. Our space is designed for transparency and a sense of shared community. You have plenty of room and autonomy to work independently but without the isolation of cubicles or doors in your face. We're a real team and we take care of each other.
                </p>
                <h3 class="text-uppercase">Self-Starters Who Take Ownership</h3>
                <p>
                    We have weekly all-hands meetings to make sure everyone is in the loop on what's going on across departments. We believe that this fosters meaningful engagement and empowers every single team member to take ownership by offering solutions and identifying opportunities.
                </p>
            </div>
            <div class="col-7">
                <img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/transparency.jpg?v=1653621452" alt="transparency" loading="lazy">
            </div>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/our-team.jpg?v=1653621616" alt="our team" loading="lazy">
        </div>
    </div>
</div>

<div class="openings">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Current Openings</h2>
                <p>
                <a href="#artisan"><span>
                    <strong>Craft Artisan Team Member </strong> <img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/46d4ea15-black-arrow.svg?v=1653622579"  alt="right arrow" loading="lazy">
                </span>
            </a>
            </p>
            </div>
        </div>
    </div>
</div>

<div class="opening" id="artisan">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Craft Artisan Team Member</h2>
                <img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/pin.svg?v=1653621832" alt="map pin icon" loading="lazy">
                <span class="mono-type">Location: Columbia, MO</span>
                <p style="margin-top: 1rem;"><strong>Looking for a job you can feel good about? </strong></p>
                <p>
                    SaunaSpace is looking for a Production Team Member to join our passionate team. We're looking for someone with a dedicated work ethic, who can work both independently and collaboratively, exhibits a can-do attitude, and genuinely enjoys learning new things. The ideal candidate will be self-motivated, detail-oriented, and take pride in their work. The role of Production Team Member is essential to supporting our growing operation and contributes in meaningful ways throughout the production process.  
                </p>
                <p>
                    SaunaSpace is a global brand deeply committed to wellness. Combining technology, scientific research, and impeccable craftsmanship, our artisan shop of handcrafted products is on a mission to transform lives. We are equally committed to the wellbeing of our team and support a positive company culture with zero micromanaging and lots of transparency, so everyone actually looks forward to coming to work. 
                </p>
                <p>
                    We welcome people across backgrounds, perspectives, identities, experiences, and abilities, and can't wait to read your application.
                </p>
                <p>
                    Job Location: This is an in-person position at our HQ in Columbia, MO.  
                </p>
                <h3>What You'll Do</h3>
                <p>*Formal training and instruction will be provided</p>
                <ul>
                    <li>
                        Effectively and safely operate and maintain equipment and tools with a focus on safety, quality, and meeting production goals
                    </li>
                    <li>
                        Operate a LASER engraver, electric cloth cutter, drill press, pneumatic tools, electric hand tools, or manual hand tools and small parts
                    </li>
                    <li>
                        Verify work instruction and set-up changes
                    </li>
                    <li>
                        Complete preparatory tasks, which may include wire or fabric cutting, fabric manipulation, or other equipment use as stated above
                    </li>
                    <li>
                        Quality assurance of processed products
                    </li>
                    <li>
                        Manipulate/lift up to 50 pounds as needed
                    </li>
                    <li>
                        Ability to stand for up to two hours at a time
                    </li>
                    <li>
                        Complete fulfillment tasks such as product packaging, fulfillment preparation, and processing
                    </li>
                    <li>
                        Alert management of process difficulties or failures, inventory stock shortages, and equipment or tool maintenance or repair needs
                    </li>
                    <li>
                        Maintain a clean, safe, and organized work environmen
                    </li>
                </ul>
                <h3>Who You Are</h3>
                <ul>
                    <li>
                        Have a flexible, adaptable nature and can flow with changing production needs and protocols
                    </li>
                    <li>
                        Able to follow instructions and template patterns 
                    </li>
                    <li>
                        Detail-oriented, ensuring company specifications and needs are achieved
                    </li>
                    <li>
                        Enthusiastic and eager to learn
                    </li>
                    <li>
                        You welcome constructive criticism because you know it helps you grow
                    </li>
                    <li>
                        Approach your work like an owner and are willing to help where needed and do what it takes to get the job done 
                    </li>
                    <li>
                        Able to maintain efficiency without sacrificing attention to detail
                    </li>
                    <li>
                        Reliable in every way, including having reliable transportation
                    </li>
                    <li>
                        Able to communicate effectively in English (written and verbal) 
                    </li>
                    <li>
                        Conduct yourself with the highest integrity
                    </li>
                    <li>
                        Have a high and ever-climbing bar for excellence
                    </li>
                </ul>
                <h3>It's a Plus if you're familiar with</h3>
                <ul>
                    <li>
                        Basic woodworking
                    </li>
                    <li>
                        Sewing machine operation
                    </li>
                </ul>
                <h3>The Perks</h3>
                <ul>
                    <li>
                        Employer-paid health, dental, vision, and life insurance benefits package
                    </li>
                    <li>
                        Paid vacation
                    </li>
                    <li>
                        Paid personal leave
                    </li>
                    <li>
                        Full-time, permanent position
                    </li>
                    <li>
                        Generous employee discount on all SaunaSpace products
                    </li>
                    <li>
                        Holiday pay
                    </li>
                    <li>
                        Eligible for a free sauna ($2999.99 value) after 6 months
                    </li>
                    <li>
                        Free weekly yoga classes
                    </li>
                </ul>
                <h3>Interested, but…</h3>
                <ul>
                    <li>
                        Think you should apply but aren't completely sure we're a “perfect match?” We encourage you to apply anyway. You miss 100% of the chances you don't take. 
                    </li>
                </ul>
                <h3>Application Instructions</h3>
                <ul>
                    <li>
                        Resumes accepted via email or walk-in
                    </li>
                    <li>
                        Walk-in applicants should bring their resume or completed application between the hours of 6 a.m. and 3 p.m., Monday–Friday
                    </li>
                    <li>
                        Applications may be printed from <strong><a href="https://go.sauna.space/application" target="_blank">https://go.sauna.space/application</a></strong>
                    </li>
                    <li>
                        Approved applications will be invited to interview by appointment only
                    </li>
                    <li>
                        For questions, call Lacy at <a href="tel:5733701217">(573) 370-1217</a>
                    </li>
                </ul>
                <p><strong><a href="mailto:hr@sauna.space">Apply Now</a></strong><img src="https://cdn.shopify.com/s/files/1/0026/7229/6025/files/a79409d4-email-icon.svg?v=1653623546" alt="email" loading="lazy"></p>
                <p><em>We are an equal opportunity employer and all qualified applicants will receive consideration for employment without regard to race, color, religion, sex, national origin, disability status, protected veteran status, or any other characteristic protected by law.</em></p>
            </div>
        </div>
    </div>
</div>

{% schema %} { "name": "t:sections.main-page.name", "tag": "section", "class":
"section", "settings": [ { "type": "header", "content":
"t:sections.all.padding.section_padding_heading" }, { "type": "range", "id":
"padding_top", "min": 0, "max": 100, "step": 4, "unit": "px", "label":
"t:sections.all.padding.padding_top", "default": 36 }, { "type": "range", "id":
"padding_bottom", "min": 0, "max": 100, "step": 4, "unit": "px", "label":
"t:sections.all.padding.padding_bottom", "default": 36 } ] } {% endschema %}
