
<div class="photo-headerBG noMargin" style="background-image:url({{ 'sauna-components.jpg' | asset_url }}); background-position: 50% 0; ">
		<div class="ph-width">
			<div class="ph-text">
				<cms id='0'>
				<h1>Sauna Your Way</h1>
				<p class="etica">Upgrade your traditional sauna or build up to the ultimate experience piece by piece with expertly crafted components from SaunaSpace.</p>
				</cms cms0>
			</div>
		</div>
	</div>

<div class="tanBG ">	
	<section>
		<h2 class="h2Spacing">Small Space Conversion</h2>
		<div class="three-cols noMargin">
			<div class="three-col">
				<img src="{{ 'sauna-components-ampUp.jpg' | asset_url }}" alt="" loading="lazy" />
				<div class="three-col-text">
					<cms id='cms1a'>
					<div class="three-col-head">Amp up your cabinet sauna</div>
					<p>Sweat faster and enjoy the benefits of light therapy by replacing the heat source in your existing sauna with a Tungsten Infrared Sauna Panel.</p>
					</cms cms1a>
				</div>
			</div>
			<div class="three-col">
				<img src="{{ 'sauna-components-transform.jpg' | asset_url }}" alt="" loading="lazy" />
				<div class="three-col-text">
					<cms id='cms1b'>
					<div class="three-col-head">Transform small spaces</div>
					<p>Any closet or enclosure can transition into a sauna with a Tungsten, Tungsten Pedestal, and Sauna Stool.</p>
					</cms cms1b>
				</div>
			</div>
			<div class="three-col">
				<img src="{{ 'sauna-components-showerToSpa.jpg' | asset_url }}" alt="" loading="lazy" />
				<div class="three-col-text">
					<cms id='cms1c'>
					<div class="three-col-head">Go from shower to spa</div>
					<p>Tap into your shower’s full potential. Our Shower Sauna Conversion Kit sets up (and stows away) in minutes.</p>
					</cms cms1c>
				</div>
			</div>
		</div>
	</section>
</div>

<section>
	<div class="centered-text">
		<cms id='cms2'>
		<h2>Build the Perfect Sauna</h2>
		<p>Want to create your very own Faraday Infrared Sauna one piece at a time? Here’s the plan.</p>
		</cms cms2>
	</div>
</section>

	<div class="two-cols two-cols-wide tc-reverse tc-top">
		<div class="col">
			<img id="bpImg" src="{{ 'sauna-components-01-tungsten.jpg' | asset_url }}" alt="Tungsten Infrared Sauna Panel" loading="lazy" />
		</div>
		<div class="col build-panels">
			<a href="javascript:void(0)" id="bp1" class="build-panel" onClick="updateSC(1)">
				<div class="bp-head">Tungsten Infrared Sauna Panel</div>
				<p>Get the benefits of heat and light therapy in your closet or shower, then upgrade to the enclosure later.</p>
			</a>
			<a href="javascript:void(0)" id="bp2" class="build-panel" onClick="updateSC(2)">
				<div class="bp-head">Sauna Stool</div>
				<p class="hideMe">Specially designed to make rotating easy and will fit in your finished sauna perfectly.</p>
			</a>
			<a href="javascript:void(0)" id="bp3" class="build-panel" onClick="updateSC(3)">
				<div class="bp-head">EMF Shield</div>
				<p class="hideMe">Make your oasis complete by blocking out cell signals, Wi-Fi, and other electromagnetic fields that detract from total relief.</p>
			</a>
			<a href="javascript:void(0)" id="bp4" class="build-panel" onClick="updateSC(4)">
				<div class="bp-head">Sauna Enclosure Kit</div>
				<p class="hideMe">Make your sessions more effective and create a dedicated retreat for health and wellness.</p>
			</a>
		</div>
	</div>


<div class="greyBG">
	<div class="two-cols two-cols-wide">
		<div class="col">
			<img src="{{ 'thermalight-infrared-bulb-greyBG.jpg' | asset_url }}" alt="Thermalight bulb" loading="lazy" />
		</div>
		<div class="col">
			<div class="tcw-text">
				<cms id='cms3'>

<h2 class="alignLeft">Technology that Works Like Nature</h2>
<p>We’ve perfected our ThermaLight® bulbs to mimic natural heat and light therapy from the sun—minus the harmful UV—so you can feel your best.</p>
<a href="/how-do-infrared-saunas-work" class="bold-link arrow-link">See How it Works</a>
</cms cms3>
			</div>
		</div>
	</div>
</div>

<section>
	<h2 class="alignLeft">Shop Sauna Components</h2>

		<div class="product-tiles">
				<!--the include below is looking for rsRP -->
				

					<div class="product-tile" style="flex-shrink: 0;">
						
							<a id="rpsauna-enclosure-kit" href="products/sauna-enclosure-kit#natural" data-url="/products/sauna-enclosure-kit"><img src="{{ 'sauna-enclosure-kit-natural-tile.jpg' | asset_url }}" alt="Sauna Enclosure Kit" class="pt-img img9" loading="lazy" /></a>
								<a href="products/sauna-enclosure-kit" class="pt-name">Sauna Enclosure Kit</a>
								<div class="color-choices">
								
									<div class="ccrp p9 c11 color-choice-on" data-productID="9" data-productCode="sauna-enclosure-kit" data-colorPrice="$1,779.99" data-colorCode="natural"><div class="color-choice" style="background-image:url({{ 'natural.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p9 c12 color-choice-off" data-productID="9" data-productCode="sauna-enclosure-kit" data-colorPrice="$1,979.99" data-colorCode="indigo"><div class="color-choice" style="background-image:url({{ 'indigo.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p9 c33 color-choice-off" data-productID="9" data-productCode="sauna-enclosure-kit" data-colorPrice="$1,979.99" data-colorCode="dark-chocolate"><div class="color-choice" style="background-image:url({{ 'dark-chocolate.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p9 c34 color-choice-off" data-productID="9" data-productCode="sauna-enclosure-kit" data-colorPrice="$1,979.99" data-colorCode="stone"><div class="color-choice" style="background-image:url({{ 'stone.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p9 c35 color-choice-off" data-productID="9" data-productCode="sauna-enclosure-kit" data-colorPrice="$2,279.99" data-colorCode="turmeric"><div class="color-choice" style="background-image:url({{ 'turmeric.jpg' | asset_url }})"></div></div>
								
								</div><!--color-choices-->
						
							<p class="pt-price etica price9">$1,779.99</p>
						
					</div>
	
		

					<div class="product-tile" style="flex-shrink: 0;">
						
							<a href="products/shower-sauna-conversion-kit" ><img src="{{ 'shower-sauna-conversion-kit-tile.jpg' | asset_url }}" alt="Shower Sauna Conversion Kit" class="pt-img" loading="lazy"  /></a>
							<a href="products/shower-sauna-conversion-kit" class="pt-name">Shower Sauna Conversion Kit</a>
						
							<p class="pt-price etica price41">$1,999.99</p>
						
					</div>
	
		

					<div class="product-tile" style="flex-shrink: 0;">
						
							<a href="products/tungsten-infrared-sauna-panel" ><img src="{{ 'tungsten-infrared-sauna-panel-tile.jpg' | asset_url }}" alt="Tungsten Infrared Sauna Panel" class="pt-img"  loading="lazy" /></a>
							<a href="products/tungsten-infrared-sauna-panel" class="pt-name">Tungsten Infrared Sauna Panel</a>
						
							<p class="pt-price etica price17">$999.99</p>
						
					</div>
	
		

					<div class="product-tile" style="flex-shrink: 0;">
						
							<a href="products/tungsten-pedestal" ><img src="{{ 'tungsten-pedestal-tile.jpg' | asset_url }}" alt="Tungsten Pedestal" class="pt-img"  loading="lazy" /></a>
							<a href="products/tungsten-pedestal" class="pt-name">Tungsten Pedestal</a>
						
							<p class="pt-price etica price7">$249.99</p>
						
					</div>
	
		

					<div class="product-tile" style="flex-shrink: 0;">
						
							<a href="products/sauna-stool" ><img src="{{ 'sauna-stool-tile.jpg' | asset_url }}" alt="Sauna Stool" class="pt-img" loading="lazy"  /></a>
							<a href="products/sauna-stool" class="pt-name">Sauna Stool</a>
						
							<p class="pt-price etica price8">$249.99</p>
						
					</div>
	
		

					<div class="product-tile" style="flex-shrink: 0;">
						
							<a id="rpemf-shield" href="products/emf-shield#natural" data-url="/products/emf-shield"><img src="{{ 'emf-shield-natural-tile.jpg' | asset_url }}" alt="EMF Shield" class="pt-img img11" loading="lazy"  /></a>
								<a href="products/emf-shield" class="pt-name">EMF Shield</a>
								<div class="color-choices">
								
									<div class="ccrp p11 c21 color-choice-on" data-productID="11" data-productCode="emf-shield" data-colorPrice="$2,769.99" data-colorCode="natural"><div class="color-choice" style="background-image:url({{ 'natural.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p11 c22 color-choice-off" data-productID="11" data-productCode="emf-shield" data-colorPrice="$2,809.99" data-colorCode="indigo"><div class="color-choice" style="background-image:url({{ 'indigo.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p11 c23 color-choice-off" data-productID="11" data-productCode="emf-shield" data-colorPrice="$2,809.99" data-colorCode="dark-chocolate"><div class="color-choice" style="background-image:url({{ 'dark-chocolate.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p11 c24 color-choice-off" data-productID="11" data-productCode="emf-shield" data-colorPrice="$2,809.99" data-colorCode="stone"><div class="color-choice" style="background-image:url({{ 'stone.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p11 c25 color-choice-off" data-productID="11" data-productCode="emf-shield" data-colorPrice="$2,869.99" data-colorCode="turmeric"><div class="color-choice" style="background-image:url({{ 'turmeric.jpg' | asset_url }})"></div></div>
								
								</div><!--color-choices-->
						
							<p class="pt-price etica price11">$2,769.99</p>
						
					</div>
	
		

					<div class="product-tile" style="flex-shrink: 0;">
						
							<a id="rpsauna-cover-set" href="products/sauna-cover-set#natural" data-url="/products/sauna-cover-set"><img src="{{ 'sauna-cover-set-natural-tile.jpg' | asset_url }}" alt="Sauna Cover Set" class="pt-img img10"  loading="lazy" /></a>
								<a href="products/sauna-cover-set" class="pt-name">Sauna Cover Set</a>
								<div class="color-choices">
								
									<div class="ccrp p10 c19 color-choice-on" data-productID="10" data-productCode="sauna-cover-set" data-colorPrice="$1,229.99" data-colorCode="natural"><div class="color-choice" style="background-image:url({{ 'natural.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p10 c20 color-choice-off" data-productID="10" data-productCode="sauna-cover-set" data-colorPrice="$1,429.99" data-colorCode="indigo"><div class="color-choice" style="background-image:url({{ 'indigo.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p10 c30 color-choice-off" data-productID="10" data-productCode="sauna-cover-set" data-colorPrice="$1,429.99" data-colorCode="dark-chocolate"><div class="color-choice" style="background-image:url({{ 'dark-chocolate.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p10 c31 color-choice-off" data-productID="10" data-productCode="sauna-cover-set" data-colorPrice="$1,429.99" data-colorCode="stone"><div class="color-choice" style="background-image:url({{ 'stone.jpg' | asset_url }})"></div></div>
								
									<div class="ccrp p10 c32 color-choice-off" data-productID="10" data-productCode="sauna-cover-set" data-colorPrice="$1,729.99" data-colorCode="turmeric"><div class="color-choice" style="background-image:url({{ 'turmeric.jpg' | asset_url }})"></div></div>
								
								</div><!--color-choices-->
						
							<p class="pt-price etica price10">$1,229.99</p>
						
					</div>
	
		
		</div>


</section>


<script>
function updateSC(p) {
		if(p==1) {
			$("#bp2 p, #bp3 p, #bp4 p").addClass("hideMe");
			$("#bp1 p").removeClass("hideMe");
			$("#bpImg").attr("src","{{ 'sauna-components-01-tungsten.jpg' | asset_url }}")
		}
		if(p==2) {
			$("#bp3 p, #bp4 p").addClass("hideMe");
			$("#bp1 p, #bp2 p").removeClass("hideMe");
			$("#bpImg").attr("src","{{ 'sauna-components-02-stool.jpg' | asset_url }}")
		}
		if(p==3) {
			$("#bp4 p").addClass("hideMe");
			$("#bp1 p, #bp2 p, #bp3 p").removeClass("hideMe");
			$("#bpImg").attr("src","{{ 'sauna-components-04-emf.jpg' | asset_url }}")
		}
		if(p==4) {
			$("#bp1 p, #bp2 p, #bp3 p, #bp4 p").removeClass("hideMe");
			$("#bpImg").attr("src","{{ 'sauna-components-03-enclosure.jpg' | asset_url }}")
		}
	}

</script>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
