{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="generic-headerBG">
  <div class="generic-header">
    <div class="gh-text">
      <cms id='cms0'>
<h1>Get in Touch</h1>
</cms cms0>
    </div>
  </div>
</div>



<section>
<div class="contact-cols">
  <div class="contact-col">
    <img src="{{ 'contact-phone.svg' | asset_url }}" alt="" />
    <div class="contact-col-head">Give us a call</div>
    <p><a href="tel:15736672862">+1-573-667-2862</a></p>
  </div>
  <div class="contact-col">
    <img src="{{ 'contact-email.svg' | asset_url }}" alt="" />
    <div class="contact-col-head">Send us an email</div>
    <p><a href="mailto:hello@sauna.space">hello@sauna.space</a></p>
  </div>
  <div class="contact-col">
    <img src="{{ 'contact-chat.svg' | asset_url }}" alt="" />
    <div class="contact-col-head">Chat with us</div>
    <p><a href="javascript:void(0)" onclick="GorgiasChat.open()">Send us a message</a></p>
  </div>
</div>
<cms id='cms1'>




<p class="contact-cols-text">Our customer care team is normally available from 8&nbsp;a.m. to 5&nbsp;p.m. CT, Monday through Friday.</p>
</cms cms1>
</section>

<div class="tanBG">
<div class="contact-tiles">
  <a href="https://help.sauna.space/order-status" class="contact-tile">
    <div class="ct-text">
      <div class="ct-head">Order Status</div>
      <div class="ct-link arrow-link">View order status FAQ</div>
    </div>
  </a>
  <a href="/pages/shipping-and-returns" class="contact-tile">
    <div class="ct-text">
      <div class="ct-head">Returns & Exchanges</div>
      <div class="ct-link arrow-link">View our policy</div>
    </div>
  </a>
  <a href="/pages/warranty" class="contact-tile">
    <div class="ct-text">
      <div class="ct-head">Warranty</div>
      <div class="ct-link arrow-link">View our policy</div>
    </div>
  </a>
  <a href="https://help.sauna.space/" class="contact-tile ct-faq">
    <div class="ct-text">
      <div class="ct-head">Have a question?</div>
      <div class="ct-link arrow-link arrow-link-white">View our FAQ</div>
    </div>
  </a>
</div>
</div>

<div class="oc2 oc2-reverse" style="background-image: url({{ 'contact-stopBy.jpg' | asset_url }}); background-size: 55%;">
  <div class="oc-text oc-text-contact">
    <cms id='cms2'>
    <h2 class="alignLeft">Stop by for a visit.</h2>
    <p>Want to see the SaunaSpace magic for yourself? Our facility in Columbia, MO, is open for showroom demonstrations and local pickup.</p>
    <p class="etica geo-pin">1330 E Prathersville Rd. Columbia, MO 65202, USA</p>
    </cms cms2>
  </div>
</div>

<div class="tanBG noMargin">
<cms id='cms3'>
<h2 class="h2Margin">Be a Part of Something Great</h2>
</cms cms3>
<section>
  <div class="two-cols two-cols-narrow">
    <div class="col col-bordered col-bordered-center">
      <cms id='cms4'>
<h3>Join the SaunaSpace team</h3>
<p>We take our employees’ happiness as seriously as our customers’ wellbeing. Learn what it means to be part of a hardworking, imaginative team.</p>
<a href="https://sauna.space/pages/careers">View Openings</a>
</cms cms4>
    </div>
    <div class="col col-bordered col-bordered-center">
      <cms id='cms5'>
      <h3>Become an affiliate partner</h3>
      <p>Bring the healing power of near infrared light sauna therapy to your family, friends, and connections.</p>
      <a href="https://saunaspace.refersion.com" >Apply Now</a>
      </cms cms5>
    </div>
  </div>

</section>

</div>


{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
