<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>


<div class="generic-headerBG">
    <div class="generic-header">
        <div class="gh-text">
            <cms id='cms0'>


<h1>EMF<span>s</span> and You</h1>
<p class="etica">Learn how SaunaSpace can help you completely unplug from stressors in your environment.</p>
</cms cms0>
        </div>
    </div>
</div>


<div class="two-cols two-cols-wide tc-reverse">
    <div class="col">
        <img src="{{ 'emfs-whatAreEMFs.jpg' | asset_url }}" alt=""  loading="lazy"/>
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms1'>

<h2 class="alignLeft">What are EMF<span>s</span>?</h2>

<p>EMF stands for electromagnetic field, a form of radiation created by the movement of electrical charges. Although they’re not visible, EMFs exist everywhere around us. Natural sources like the sun and thunderstorms create EMFs, and so do the many devices in our daily lives.</p>

<p>Our daily exposure to EMFs is rising with our use of technology. Electricity, cell phone signals, Wi-Fi, and Bluetooth all contribute to an environment that can add stress on our bodies and lives.</p></cms cms1>
        </div>
    </div>
</div>


<div class="tanBG">
<div class="two-cols two-cols-wide tc-reverse">
    <div class="col">
        <img src="{{ 'emfs-types.jpg' | asset_url }}" alt="" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms2'>

<h2 class="alignLeft">Types of EMF<span>s</span></h2>
<p>Some EMFs are more powerful than others. They fall into two main types:</p>
<h3>Ionizing EMFs</h3>
<p>Ionizing EMFs are the most intense form. They have short wavelengths and higher frequencies that can break chemical bonds. Common sources include UV light, X-rays, gamma rays, and radon. </p>
<h3>Non-Ionizing EMFs</h3>
<p>Non-ionizing EMFs are the most common form in our daily lives. They have longer wavelengths and lower frequencies. Everything from cellphones to computers to microwaves emit this type of radiation.</p><p>But man-made non-ionizing EMFs are not historically common. In fact, we are being exposed to a billion billion (10^18) times more EMFs in our environment today than a hundred years ago. Most of this increased exposure comes from a narrow technology band in the microwave range that includes broadcast TV, cellphones, Bluetooth, and WiFi—about .2 GHz to 5 GHz—so any effective EMF-blocking solution must block this range well.&nbsp;</p>
</cms cms2>
        </div>
    </div>
</div>
</div>






<div class="two-cols two-cols-wide">
    <div class="col">
        <img src="{{ 'emfs-effects.jpg' | asset_url }}" alt="" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms3'>


<h2 class="alignLeft">Effects of EMF<span>s</span></h2>
<p>Extreme levels of EMF exposure can have severe health effects. We see this in cancer patients who go through radiation treatments. The high levels of ionizing radiation can cause hair loss, tissue damage, and long-term complications.</p>
<p>The day-to-day EMFs you encounter at home are at much lower levels, but scientists are still studying the cumulative effects of how long-term exposure impacts our health. We do know that EMFs act as a stressor on the body and can create free radicals, which contribute to many conditions when unchecked. Diagnosing overexposure to EMFs can be difficult because of the broad range of symptoms including fatigue, brain fog, sleep disturbances, irritability, and more.</p><p><span style="font-size: 16px;">Your exposure varies based on how far away you are from the source. With an EMF meter, you can measure the amount of radiation you are exposed to from various appliances and areas of your home. <a href="https://help.sauna.space/testing-infrared-saunas/how-do-i-test-emf-levels-in-the-sauna">Read our FAQ</a> to learn how to measure EMFs accurately.</span><br></p>
<p>If you would like to dive deeper into the growing research about EMFs, check out <a href="https://www.emf-portal.org/" target="_blank">the world's largest database of emf-related scientific research</a> or read <i><a href="/products/emfd-book">EMF*D: 5G, Wi-Fi & Cell Phones: Hidden Harms and How to Protect Yourself</a></i>.</p>
</cms cms3>
        </div>
    </div>
</div>

<div class="oc2"  style="background-image: url({{ 'emfs-minimizes.jpg' | asset_url }}); background-size: 55%; ">
    <div class="oc-text">
        <cms id='cms4'>
        <h2 class="alignLeft">How SaunaSpace Minimizes EMF<span>s</span>.</h2>
        <p>Limiting screen time and putting your phone in airplane mode are great ways to start reducing your overall exposure to EMFs, but we also take care to make sure our products don’t add EMFs to your home.</p>
        <p>In fact, our Faraday sauna is the only model in the industry to block all the EMFs in your environment. See how all of our protective elements combine to create a completely stress-free experience.</p>
        </cms cms4>
    </div>
</div>

<div class="divider"></div>

<section>
    <div class="two-cols">
        <div class="col">
            <img src="{{ 'emfs-emfShield.jpg' | asset_url }}" alt="" loading="lazy" />
            <cms id='cms5a'>

<h2>EMF Shield</h2>
<p>Our industry-leading shield is made of 35% silver, finely woven into an organic cotton cover that surrounds your sauna. The silver conducts electromagnetic charges around the perimeter of the enclosure, blocking over 99.99% of man-made frequencies across the wireless technology band.</p>
<p>The shield comes standard in our Faraday sauna or can be purchased separately as an upgrade later.</p>
</cms cms5a>
        </div>
        <div class="col">
            <img src="{{ 'emfs-groundingMat.jpg' | asset_url }}" alt="" loading="lazy" />
            <cms id='5b'>
            <h2>Grounding mat</h2>
            <p>Underneath comfortable organic bamboo is a fully integrated grounding system that protects you from the wired EMFs in your home with the added benefit of <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3265077/" target="_blank">earthing therapy</a>.</p>
            </cms cms5b>
        </div>
    </div>

</section>
<section>
    <div class="two-cols">
        <div class="col">
            <img src="{{ 'emfs-lightPanelGuards.jpg' | asset_url }}" alt="" loading="lazy" />
            <cms id='6a'>
            <h2>Light panel guards</h2>
            <p>The metal cages around our ThermaLight bulbs draw EMFs away from you and back into the outlet.</p>
            </cms cms6a>
        </div>
        <div class="col">
            <img src="{{ 'emfs-shieldedWiring.jpg' | asset_url }}" alt="" loading="lazy" />
            <cms id='6b'>
            <h2>Shielded wiring</h2>
            <p>Grounding cables channel EMFs away from you and back into the outlet.</p>
            </cms cms6b>
        </div>
    </div>

</section>

<div class="divider"></div>

<div class="two-cols two-cols-wide">
    <div class="col">
        <img src="{{ 'emf-blocking-badge.svg' | asset_url }}" alt="EMF Blocking Sauna" class="img-badge" loading="lazy" />
        <img src="{{ 'emfs-worldsOnly.jpg' | asset_url }}" alt="" loading="lazy"/>
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms7'>


<h2 class="alignLeft">The World’s Only EMF-Blocking Sauna</h2>
<p>The Faraday infrared sauna is a totally immersive escape from electromagnetic fields (EMFs). Maximize the benefits of your full-spectrum infrared sauna with industry-leading technology that helps you unplug from the world.</p>
<div class="btnBox"><a href="/products/faraday-infrared-sauna" class="btn">Shop FaRAday</a></div>
</cms cms7>
        </div>
    </div>
</div>




{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
