

	<div class="generic-headerBG">
		<div class="generic-header">
			<div class="gh-text">
				<cms id='cms0'>
<h1>Events</h1>
<p class="etica">Find our where you can meet us and try SaunaSpace products in person.</p>
</cms cms0>
			</div>
		</div>
	</div>

	<section class="sec1000">
		<div class="sp-insta">
			<div class="sp-insta-text">
				<cms id='cms1'>




<h3>SaunaSpace Live on Instagram</h3>
<p>Tune into our Instagram to go behind the scenes with our team. We’ll answer your questions, share the latest sauna science, offer health and wellness tips, and plenty of surprises.</p>
<p class="etica">Thursdays<br>11 a.m. Central Time</p>
<div class="events-follow">Follow <a href="https://www.instagram.com/saunaspace/" target="_blank">@saunaspace <svg xmlns="http://www.w3.org/2000/svg" width="14.759" height="7.753" overflow="visible"><g fill="none" stroke="#FFF"><path d="M0 3.876h14M10 .376l4 3.5-4 3.5"></path></g></svg></a></div>
</cms cms1>
			</div>
		</div>
	</section>

	<section class="sec1000">
		<h4>Upcoming Events</h4>
		
			<div class="event-box">
				<div class="event-text">
					<div class="event-title">Health Optimization Summit 2022</div>
					<p class="event-dates etica">5/28/2022 - 5/29/2022<br />52 Upper Street, The Angel<br>London N1 0HQ, UK</p>
					<p>Optimise your mind, body, and environment to gain control over your own health; new levels of energy, performance, and vitality.</p>
					<div class="event-link-div"><a href="https://summit.healthoptimisation.com/" target="_blank" class="event-link">Register <svg xmlns="http://www.w3.org/2000/svg" width="14.759" height="7.753" overflow="visible"><g fill="none" stroke="#000"><path d="M0 3.876h14M10 .376l4 3.5-4 3.5"/></g></svg></a></div>
				</div>
				<a href="events/health-optimization-summit-2022.html" class="events-img"><img src="{{ 'health-optimization-summit-2022.jpg' | asset_url }}" /></a>
			</div>

{% assign events = page.metafields.event-page.eventpage | split: '|' %}
{% for event in events %}

    

    <div class="event-box">
				<div class="event-text">
					<div class="event-title">{{ pages[event].title }}</div>

                    
					<p class="event-dates etica">{{ pages[event].metafields.start-date.startdate }} - 5/29/2022<br />52 Upper Street, The Angel<br>London N1 0HQ, UK</p>
					<p>{{ pages[event].content }}</p>
					<div class="event-link-div"><a href="https://summit.healthoptimisation.com/" target="_blank" class="event-link">Register <svg xmlns="http://www.w3.org/2000/svg" width="14.759" height="7.753" overflow="visible"><g fill="none" stroke="#000"><path d="M0 3.876h14M10 .376l4 3.5-4 3.5"/></g></svg></a></div>
				</div>
				<a href="events/health-optimization-summit-2022.html" class="events-img"><img src="{{ 'health-optimization-summit-2022.jpg' | asset_url }}" /></a>
			</div>
{% endfor %}

	</section>


	<section class="sec1000">
		<div class="event-invite">
			<cms id='cms2'>
<h2>Invite us to your event</h2>
<p>Do you know an industry event we should attend? Would you like our founder to speak on the science of infrared light? Drop us a line.</p>
<div class="btnBox"><a href="contact.html" class="btn">Contact Us</a></div>
</cms cms2>
		</div>
	</section>


{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
