{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>
<div class="footerBG">
	<section>
		<div class="footer">
			<div class="footer-info">
				<img src="{{ 'sp-logo-white.svg' | asset_url }}" alt="Sauna Space logo" class="footer-logo" loading="lazy" />
				<div class="cl-box"><a href="tel:15736672862" class="contact-link cl-phone">+1 573-667-2862</a></div>
				<div class="cl-box"><a href="mailto:hello@sauna.space" class="contact-link cl-email">hello@sauna.space</a></div>
				<div class="cl-box"><a onclick="GorgiasChat.open()" class="contact-link cl-chat">Live Chat</a></div>
				<p>Customer support hours:<br />8:00am - 5:00pm CT<br />Monday-Friday</p>
				<div class="social-wrap">
					<a href="https://www.instagram.com/saunaspace/" target="_blank" class="social instagram"></a>
					<a href="https://www.facebook.com/saunaspace/" target="_blank" class="social facebook"></a>
					<a href="https://twitter.com/saunaspace" target="_blank" class="social twitter"></a>
				</div>
			</div>
			<div class="footer-links">
				<div class="fl-top">
					<div class="footer-head">Brighten up your inbox. <span>Get the latest promotions and news.</span></div>
					<div class="fl-signup">
						<div class="klaviyo-form-WHMj9M"></div>
					</div>
				</div>
				<div class="fl-cols">
					<div class="fl-col">
						<div class="fl-head">Shop</div>
						<a href="/pages/infrared-saunas">Saunas</a>
						<a href="/pages/targeted-therapy">Targeted Therapy</a>
						<a href="/pages/sauna-components">Sauna Components</a>
						<a href="/products?filter=replacement-bulbs">Bulbs</a>
						<a href="/products?filter=merchandise">Merchandise</a>
						<a href="/products?filter=products-we-love">Products We Love</a>
						<a href="/pages/certified-refurbished">Refurbished Equipment</a>
					</div>
					<div class="fl-col">
						<div class="fl-head">Learn</div>
						<a href="/pages/how-do-infrared-saunas-work">How It Works</a>
						<a href="/pages/how-to-choose-a-sauna">Choosing a Sauna</a>
						<a href="/pages/how-to-use-a-sauna">Using Your Sauna</a>
						<a href="/pages/full-spectrum-infrared-sauna-health-benefits">Health Benefits</a>
						<a href="/pages/what-are-electromagnetic-fields-emfs">What are EMFs?</a>
            <a href="/pages/headsuphealth">Heads Up Health</a>
						<a href="/pages/infrared-sauna-light-therapy-research">Research</a>
						<a href="/pages/reviews">Reviews</a>
					</div>
					<div class="fl-col">
						<div class="fl-head">Support</div>
						<a href="https://help.sauna.space">FAQ</a>
						<a href="/pages/shipping-and-returns">Shipping & Returns</a>
						<a href="/pages/warranty">Warranty</a>
						<a href="/pages/financing">Financing</a>
						<a href="/pages/100-day-home-trial">100-Day Home Trial</a>
						<a href="/pages/contact">Contact Us</a>
					</div>
					<div class="fl-col">
						<div class="fl-head">Company</div>
						<a href="/pages/about">About Us</a>
						<a href="/pages/events">Events</a>
						<a href="https://saunaspace.refersion.com/">Affiliate Program</a>
						<a href="https://careers.sauna.space/">Jobs</a>
					</div>
				</div>
				<div class="copyright">&copy; 2013-<script> document.write(new Date().getFullYear());</script> SaunaSpace<sup>&reg;</sup>
					<a href="/pages/terms">Terms</a>
					<a href="/pages/privacy-policy">Privacy</a>
					<a href="/pages/disclaimer">Disclaimer</a>
					<a href="/pages/trademarks">Trademarks</a>
				</div>
			</div>
		</div>
	</section>
</div>

<script src="{{ 'gsap.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'ScrollTrigger.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'pin-animation.js' | asset_url }}" defer="defer"></script>

<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=HJAdDq"></script>

<!-- REFERSION TRACKING: BEGIN -->
<script src="//saunaspace.refersion.com/tracker/v3/pub_b0a73fb107562b264f2e.js"></script>
<script>_refersion();</script>
<!-- REFERSION TRACKING: END -->

<script type="text/javascript" async="" src="https://track.klickly.com/track.bundle.js?shop=saunaspace.myshopify.com"></script>
<!-- justuno -->
<script data-cfasync="false">window.ju_num="14AD717D-6F02-491D-B26D-C3805052C81E";window.asset_host='//cdn.jst.ai/';(function(i,s,o,g,r,a,m){i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)};a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script',asset_host+'vck.js','juapp');</script>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('.disclosure__list-wrapper'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
