<link
  rel="stylesheet"
  href="{{ 'section-main-page.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{ 'component-rte.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
{{ "headsup.css" | asset_url | stylesheet_tag }}

<noscript>{{ "section-main-page.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "component-rte.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "headsup.css" | asset_url | stylesheet_tag }}</noscript>

<div class="optimize">
  <div class="container">
    <div class="inner-content row">
      <div class="col-12">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          width="415"
          height="66"
          loading="lazy"
        />
        <div class="lp-element lp-pom-text nlh" id="lp-pom-text-52">
          <h2 style="line-height: 35px">
            OPTIMIZE YOUR SAUNA SESSIONS<br />
            WITH HEADS UP
          </h2>
          <p class="mono-type">
            Free 90-day membership with your SaunaSpace purchase*
          </p>
        </div>
        <a
          class="btn-cta"
          href="https://app.headsuphealth.com/users/sign_up?ref=saunaspace"
          target="_blank"
          >START YOUR FREE TRIAL
        </a>
      </div>
    </div>
  </div>
</div>
<div class="what-is">
  <div class="container">
    <div class="inner-content row">
      <div class="col-7">
        <h2 class="text-uppercase">What Is Heads Up?</h2>
        <p>
          Heads Up helps you create customized dashboards that track your health
          data over time. Measure what is most important to you and find out how
          your sauna, physical activity, diet, lifestyle, and more are impacting
          the big picture.
        </p>
      </div>
      <div class="col-5">
        <img
          src="{{ 'whatis.png' | asset_url }}"
          alt=""
          width="450"
          height="337"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
<div class="how-it-works">
  <div class="container">
    <h2 class="text-uppercase">How It Works</h2>
    <div class="row">
      <div class="col-4">
        <img src="{{ 'track.png' | asset_url }}" alt="" loading="lazy" />
        <h3>Track What Matters</h3>
        <p>
          Choose from dozens of advanced health metrics, including deep sleep,
          resting heart rate, and more.
        </p>
      </div>
      <div class="col-4">
        <img src="{{ 'sync.png' | asset_url }}" alt="" loading="lazy" />
        <h3>Sync your Devices</h3>
        <p>
          Choose from dozens of advanced health metrics, including deep sleep,
          resting heart rate, and more.
        </p>
      </div>
      <div class="col-4">
        <img src="{{ 'import.png' | asset_url }}" alt="" loading="lazy" />
        <h3>Import Your Records</h3>
        <p>
          Choose from dozens of advanced health metrics, including deep sleep,
          resting heart rate, and more.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <img src="{{ 'visualize.png' | asset_url }}" alt="" loading="lazy" />
        <h3>Visualize Your Progress</h3>
        <p>
          Get valuable insights anytime with beautiful and actionable
          visualizations.
        </p>
      </div>
      <div class="col-4">
        <img src="{{ 'tailor.png' | asset_url }}" alt="" loading="lazy" />
        <h3>Tailor Your Medical Care</h3>
        <p>
          Give your healthcare team the data they need to personalize their
          recommendations.
        </p>
      </div>
      <div class="col-4">
        <img src="{{ 'improve.png' | asset_url }}" alt="" loading="lazy" />
        <h3>Keep Improving</h3>
        <p>Goal setting and progress monitoring help you stay motivated.</p>
      </div>
    </div>
    <a
      href="https://app.headsuphealth.com/users/sign_up?ref=saunaspace"
      target="_blank"
      class="btn-cta text-uppercase"
      >Try It Free*</a
    >
  </div>
</div>

<div class="compatible">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 class="text-uppercase">Compatible Fitness Trackers</h2>
        <p>
          Heads Up works with most major fitness trackers including Apple
          Health, Oura, Fitbit, MyFitnessPal, and more. Visit their website for
          a
          <a
            href="https://headsuphealth.com/integrations/"
            target="_blank"
            >full list of compatible devices</a
          >. SaunaSpace recommends fitness trackers with airplane mode for use
          with the EMF Shield in the Faraday Infrared Sauna.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="story">
  <div class="container">
    <h2 class="text-uppercase">Anthony Kunkel's Story</h2>
    <div class="row">
      <div class="col-5">
        <img src="{{ 'anthony.png' | asset_url }}" alt="" loading="lazy" />
      </div>
      <div class="col-7">
        <p class="mono-type cta-text">
          Getting ultramarathon-ready with SaunaSpace and Heads Up Health
        </p>
        <blockquote>
          I had an HRV number that was just going crazy and what I found is that
          using the Faraday sauna gives me 10-15 more points, around 200 total.
        </blockquote>
        <p>
          - Anthony Kunkel<br />
          Ultramarathon runner and coach
        </p>
      </div>
    </div>
  </div>
</div>

<div class="custom-health-tracking">
  <div class="container">
    <div class="row">
      <div class="col-5"></div>
      <div class="col-7">
        <h2>
          Custom health Tracking,<br />
          Free For 90 Days*
        </h2>
        <p class="mono-type">
          Optimize your sauna sessions and your health with Heads Up today.
        </p>
        <a
          href="https://app.headsuphealth.com/users/sign_up?ref=saunaspace"
          target="_blank"
          class="btn-cta"
          >Sign Up Now</a
        >
      </div>
    </div>
    <div class="row cta-text">
      <p>
        *To qualify for a free 90 day Heads Up membership, your order subtotal
        must be greater than $999.
      </p>
    </div>
  </div>
</div>

{% schema %} { "name": "t:sections.main-page.name", "tag": "section", "class":
"section", "settings": [ { "type": "header", "content":
"t:sections.all.padding.section_padding_heading" }, { "type": "range", "id":
"padding_top", "min": 0, "max": 100, "step": 4, "unit": "px", "label":
"t:sections.all.padding.padding_top", "default": 36 }, { "type": "range", "id":
"padding_bottom", "min": 0, "max": 100, "step": 4, "unit": "px", "label":
"t:sections.all.padding.padding_bottom", "default": 36 } ] } {% endschema %}
