<link
  rel="stylesheet"
  href="{{ 'section-main-page.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
<link
  rel="stylesheet"
  href="{{ 'component-rte.css' | asset_url }}"
  media="print"
  onload="this.media='all'"
/>
{{ "headsup.css" | asset_url | stylesheet_tag }}

<noscript>{{ "section-main-page.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "component-rte.css" | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ "headsup.css" | asset_url | stylesheet_tag }}</noscript>

<div class="lp-element lp-pom-root" id="lp-pom-root">
  <div id="lp-pom-root-color-overlay"></div>
  <div class="lp-positioned-content">
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-15">
      <h2 class="lplh-38" style="text-align: center">HOW IT WORKS</h2>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-20">
      <div class="lplh-29" style="text-align: center">
        Tailor Your Medical Care
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        Give your healthcare team the data they need to personalize
                    their recommendations.
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-21">
      <div class="lplh-29" style="text-align: center">
        Visualize Your Progress
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        Get valuable insights anytime with beautiful and actionable
        visualizations.
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-23">
      <div class="lplh-29" style="text-align: center">
        Keep Improving
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        Goal setting and progress monitoring help you stay
              motivated.
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-39">
      <p class="lplh-38" style="line-height: 38px">
        ANTHONY KUNKEL'S STORY
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-40">
      <div class="lplh-32">
        Getting ultramarathon-ready with SaunaSpace&nbsp;
        and Heads Up Health
      </div>
      <div class="lplh-10"><br /></div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-49">
      <div class="lplh-26" style="text-align: center">
        ®
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-50">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          loading="lazy"
        />
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-51">
      <p class="lplh-24">
        Free 90-day membership with your SaunaSpace purchase*
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-52">
      <h2 class="lplh-58" style="line-height: 35px">
        OPTIMIZE YOUR SAUNA SESSIONS<br/>
        WITH HEADS UP
      </h2>
      <p class="lplh-58" style="line-height: 35px">
        <br />
      </p>
    </div>
    <a
      class="lp-element lp-pom-button"
      id="lp-pom-button-79"
      href="clkg/https/app.headsuphealth.com/users/sign_up?ref=saunaspace"
      target="_blank"
      ><span class="label">START YOUR FREE TRIAL</span></a
    >
    <div class="lp-element lp-pom-image" id="lp-pom-image-95">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1039039000000000000028.png"
          data-src-desktop-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_106i06i000000000000028.png"
          data-src-desktop-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1039039000000000000028.png"
          data-src-mobile-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_106i06i000000000000028.png"
          data-src-mobile-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1r07p0r-strength-ss-icon_1000000000000000000028.png"
        />
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-96">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_103a03a000000000000028.png"
          data-src-desktop-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_106k06k000000000000028.png"
          data-src-desktop-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_103a03a000000000000028.png"
          data-src-mobile-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_106k06k000000000000028.png"
          data-src-mobile-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1e6f7me-apple-ss-icon_1000000000000000000028.png"
        />
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-97">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_103a03a000000000000028.png"
          data-src-desktop-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_106k06k000000000000028.png"
          data-src-desktop-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_103a03a000000000000028.png"
          data-src-mobile-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_106k06k000000000000028.png"
          data-src-mobile-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1a86wd0-power-ss-icon_1000000000000000000028.png"
        />
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-103">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_106906w069069000000028.png"
          data-src-desktop-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_10ci0ds0ci0ci000000028.png"
          data-src-desktop-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_10000000e50e4000000028.png"
          data-src-mobile-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_106906w069069000000028.png"
          data-src-mobile-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_10ci0ds0ci0ci000000028.png"
          data-src-mobile-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/i6goju-anthonykunkel-circle_10000000e50e4000000028.png"
        />
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-107">
      <div class="lplh-20">
        I had an HRV number that was just going crazy and what I
                  found is that using the Faraday sauna gives me 10-15 more
                  points, around 200 total.
      </div>
      <div class="lplh-20">
        <span style="font-style: normal"
          ><span style="font-weight: 400"
            ><span style="font-family: Work Sans">&nbsp;</span></span
          ></span
        >
      </div>
      <div class="lplh-20">
        - Anthony Kunkel <br />Ultramarathon runner and coach
              <br />
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-108">
      <div class="lplh-115">
        <span style="color: rgb(198, 122, 38)"
          ><span
            style="font-family: Arial; font-style: normal; font-weight: normal"
            ><span style="font-size: 72px">“</span></span
          ></span
        >
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-116">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'whatis.png' | asset_url }}"
          alt=""
          loading="lazy"
        />
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-123">
      <h2 class="lplh-58" style="line-height: 38px">
        WHAT IS HEADS UP?
      </h2>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-124">
      <p class="lplh-24">
        Heads Up helps you create customized dashboards that track your
              health data over time. Measure what is most important to you and
              find out how your sauna, physical activity, diet, lifestyle, and
              more are impacting the big picture.
      </p>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-126">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          loading="lazy" data-src-mobile-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/n5511v-dashboard-section_10n00h9000000000000028.png"
        />
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-134">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1039039000000000000028.png"
          data-src-desktop-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_106i06i000000000000028.png"
          data-src-desktop-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1039039000000000000028.png"
          data-src-mobile-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_106i06i000000000000028.png"
          data-src-mobile-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/tl3bu6-scale-ss-icon_1000000000000000000028.png"
        />
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-135">
      <div class="lplh-29" style="text-align: center">
        <span style="color: #ffffff"
          ><span style="font-size: 18px"
            ><span style="font-family: Roboto Mono"
              ><span style="font-weight: 400; font-style: normal"
                ><strong>Track What Matters</strong>
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        Choose from dozens of advanced health metrics, including deep
              sleep, resting heart rate, and more.
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-136">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_103a03a000000000000028.png"
          data-src-desktop-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_106k06k000000000000028.png"
          data-src-desktop-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_103a03a000000000000028.png"
          data-src-mobile-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_106k06k000000000000028.png"
          data-src-mobile-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/1cdaxvb-fitnesstracker-ss-icon_1000000000000000000028.png"
        />
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-137">
      <div class="lplh-29" style="text-align: center">
       Sync Your Devices<br />
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        Send data from your favorite fitness tracker straight to
                    the dashboard.
      </div>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-138">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          loading="lazy"
          data-src-desktop-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_103a03a000000000000028.png"
          data-src-desktop-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_106k06k000000000000028.png"
          data-src-desktop-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_1000000000000000000028.png"
          data-src-mobile-1x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_103a03a000000000000028.png"
          data-src-mobile-2x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_106k06k000000000000028.png"
          data-src-mobile-3x="//web.archive.org/web/20220429155138/https://d9hhrg4mnvzow.cloudfront.net/partner.sauna.space/headsuphealth/p03yws-heart-ss-icon_1000000000000000000028.png"
        />
      </div>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-139">
      <div class="lplh-29" style="text-align: center">
        Import Your Records
      </div>
      <div class="lplh-10" style="text-align: center">&nbsp;</div>
      <div class="lplh-22" style="text-align: center">
        Centralize your medical information so you can see trends and
              relationships.
      </div>
    </div>
    <a
      class="lp-element lp-pom-button"
      id="lp-pom-button-142"
      href="clkg/https/app.headsuphealth.com/users/sign_up?ref=saunaspace"
      target="_blank"
      ><span class="label">TRY IT FREE*</span></a
    >
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-153">
      <p class="lplh-58" style="line-height: 38px">
       COMPATIBLE FITNESS TRACKERS
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-154">
      <p class="lplh-24">
        Heads Up works with most major fitness trackers including Apple
            Health, Oura, Fitbit, MyFitnessPal, and more. Visit their website
            for a
            <a href="clkn/https/headsuphealth.com/integrations/"
              >full list of compatible devices</a
            >. SaunaSpace recommends fitness trackers with airplane mode for use
            with the EMF Shield in the Faraday Infrared Sauna.
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-162">
      <p class="lplh-58" style="line-height: 38px">
        CUSTOM HEALTH TRACKING, FREE FOR 90 DAYS*
      </p>
    </div>
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-163">
      <p class="lplh-24">
          <a
                href="clkn/https/headsuphealth.com/integrations/"
              ></a>Optimize your sauna sessions and your health with Heads Up
              today.
      </p>
    </div>
    <a
      class="lp-element lp-pom-button"
      id="lp-pom-button-164"
      href="clkg/https/app.headsuphealth.com/users/sign_up?ref=saunaspace"
      target="_blank"
      ><span class="label">SIGN UP NOW</span></a
    >
    <div class="lp-element lp-pom-text nlh" id="lp-pom-text-166">
      <p class="lplh-24" style="text-align: center">
        <a
                    href="clkn/https/headsuphealth.com/integrations/"
                  ></a>*To qualify for a free 90 day Heads Up membership, your order
                  subtotal must be greater than $999.
      </p>
    </div>
    <div class="lp-element lp-pom-image" id="lp-pom-image-185">
      <div class="lp-pom-image-container" style="overflow: hidden">
        <img
          src="{{ 'headsuplogo.png' | asset_url }}"
          alt=""
          loading="lazy" />
      </div>
    </div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-8">
    <div id="lp-pom-block-8-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-122">
    <div id="lp-pom-block-122-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-9">
    <div id="lp-pom-block-9-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-148">
    <div id="lp-pom-block-148-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-12">
    <div id="lp-pom-block-12-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-158">
    <div id="lp-pom-block-158-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
  <div class="lp-element lp-pom-block" id="lp-pom-block-14">
    <div id="lp-pom-block-14-color-overlay"></div>
    <div class="lp-pom-block-content"></div>
  </div>
</div>

{% schema %} { "name": "t:sections.main-page.name", "tag": "section", "class":
"section", "settings": [ { "type": "header", "content":
"t:sections.all.padding.section_padding_heading" }, { "type": "range", "id":
"padding_top", "min": 0, "max": 100, "step": 4, "unit": "px", "label":
"t:sections.all.padding.padding_top", "default": 36 }, { "type": "range", "id":
"padding_bottom", "min": 0, "max": 100, "step": 4, "unit": "px", "label":
"t:sections.all.padding.padding_bottom", "default": 36 } ] } {% endschema %}
