{{ 'pin-animation.css' | asset_url | stylesheet_tag }}


<div class="">
    <div class="video-wrapper">
        <video playsinline autoplay muted loop poster="{{ 'sauna-space-hero.png' | asset_url }}" class="bgvid">
            <source src="{{ 'sauna-space-home-hero.mp4' | asset_url }}" type="video/webm">
            <source src="{{ 'sauna-space-home-hero.webm' | asset_url }}" type="video/mp4">
            <source src="{{ 'sauna-space-home-hero.ogv' | asset_url }}" type="video/ogv">
        </video>
      <div class="header-video">
        <p class="subtitle">Rejuventate at the cellular level</p>
        <h1>Incandescent<br/> Infrared Therapy</h1>
        <div class="video-links">
            <a href="/products?filter=all" class="btn btn-outline">Shop Now</a><br />
            <button class="btn-video">
                <span class="btn-video-icon">
                    <svg width="6" height="10" viewBox="0 0 6 10" xmlns="http://www.w3.org/2000/svg"><path d="M6 5l-6 5V0z" fill="currentColor" fill-rule="evenodd"></path></svg>
                </span>
                <span class="btn-video-text">Play Video</span>
              </button>        </div>
      </div>
    </div>
    <!-- <section>
        <div class="centered-text ct-home">
            <cms id='cms1'>
            <h2>Transcend the Ordinary</h2>
            <p class="etica">Rejuvenate at a cellular level with a sauna that harnesses the power of the sun. SaunaSpace combines cutting-edge infrared technology with nature’s ancient wisdom to help you find relief.</p>
            <p style="margin-top: 2em;"><a href="/pages/infrared-saunas" class="bold-link arrow-link">See What We Mean</a></p>
            </cms cms1>
        </div>
    </section> -->
</div>

<section class="section-three-panels">
    <div class="three-panels">
        <a href="/pages/infrared-saunas" class="three-panel">
            <div class="three-panel-inset-text">
                <h2>Infrared Saunas</h2>
                <div class="bold-link bold-link-white arrow-link">Explore</div>
            </div>
            <img src="{{ 'home-infrared-saunas.jpg' | asset_url }}" alt="" loading="lazy" />
        </a>
        <a href="/pages/targeted-therapy" class="three-panel">
            <div class="three-panel-inset-text">
                <h2>Targeted Therapy</h2>
                <div class="bold-link bold-link-white arrow-link">Explore</div>
            </div>
            <img src="{{ 'home-targeted-therapy.jpg' | asset_url }}" alt="" loading="lazy" />
        </a>
        <a href="/pages/sauna-components" class="three-panel">
            <div class="three-panel-inset-text">
                <h2>Sauna Components</h2>
                <div class="bold-link bold-link-white arrow-link">Explore</div>
            </div>
            <img src="{{ 'home-sauna-components.jpg' | asset_url }}" alt="" loading="lazy" />
        </a>
    </div>
</section>

<div class="two-colsBG" style="background-image:url({{ 'home-technology-canyon.jpg' | asset_url }});">
<div class="two-cols two-cols-wide">
    <div class="col">
        <img src="{{ 'home-technology-sauna.jpg' | asset_url }}" alt="Home Technology" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms2'>

<h2 class="alignLeft">Technology That Channels Nature</h2>
<p>We dive deep into the research to ensure our saunas optimize the body’s most powerful processes for repairing and relaxing.</p>
</cms cms2>
        </div>
    </div>
</div>
</div>

<div class="two-cols two-cols-wide tc-reverse">
    <div class="col">
        
        <img src="{{ 'home-balance.jpg' | asset_url }}" alt="home Balance" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms3'>

<h2 class="alignLeft">A Return to Balance</h2>
<p>Unplug more deeply in your personal self-care space. Our products are engineered to help you block out environmental stresses and soothe screen fatigue.</p>
</cms cms3>
        </div>
    </div>
</div>

<div class="oc2 oc2-reverse oc2-home"  style="background-image: url({{ 'home-fabric.jpg' | asset_url }});">
    <div class="oc-text">
        <cms id='cms4'>


<h2 class="alignLeft">Integrity Through Craftsman­ship.</h2>
<p>Natural materials, constructed with the utmost care and precision, designed to go wherever life takes you. We perfect every inch of our products so you can make a lifelong investment in your health.</p>
<a href="/pages/about" class="bold-link bold-link-white arrow-link">Get to Know Us</a>
</cms cms4>
    </div>
</div>

<div class="tanBG noMargin home ">
<h2>Our Customers Love Us</h2>
<div class="rc-arrows">

    <img src="{{ 'arrow_orange.svg' | asset_url }}" class="rc-arrow-right" alt="" onClick="scrollReviews(1);"  loading="lazy" />
    <img src="{{ 'arrow_orange.svg' | asset_url }}" class="rc-arrow-left" alt="" onClick="scrollReviews(-1);" loading="lazy" />
    <div class="review-carousel">

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'chris-kresser.jpg' | asset_url }}" alt="Chris Kresser" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">Chris Kresser</div>
                <div class="review-title etica">M.S., L.Ac, Founder of Kresser Institute</div>
            </div>
        </div>
        <div class="review-text etica"><p>I’m convinced that saunas are one of the most potent tools available to us for optimizing health and extending lifespan.</p></div>

    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'harrison-butker.jpg' | asset_url }}" alt="Harrison Butker" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">Harrison Butker</div>
                <div class="review-title etica">NFL Super Bowl Champion</div>
            </div>
        </div>
        <div class="review-text etica"><p>With this season’s COVID restrictions, NFL players have been unable to use their team’s sauna. That reality, coupled with its unbeatably low EMF levels, make owning my very own Faraday Sauna and Photon a lifesaver. I am grateful for this quality product made by SaunaSpace!</p></div>
    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'ragga-ragnars.jpg' | asset_url }}" alt="Ragga Ragnars" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">Ragga Ragnars</div>
                <div class="review-title etica">Olympic Swimmer, Actor</div>
            </div>
        </div>
        <div class="review-text etica"><p>Having my SaunaSpace Faraday in my bedroom has been an absolute game changer for me. Since I got it I have noticed an amazing improvement in how I feel, my recovery time from workouts has been cut in half and my skin is glowing...</p></div>
    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'terri-hirning.jpg' | asset_url }}" alt="Terri Hirning" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">Terri Hirning</div>
                <div class="review-title etica">Author</div>
            </div>
        </div>
        <div class="review-text etica"><p>I have used several other saunas for both myself and my son who is recovered from autism. No other gave me the results or the same feeling of relief and relaxation like this. With SaunaSpace, I experience an almost immediate reduction in inflammation and a faster sweating response than with other saunas.</p></div>
    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'margaret-c.jpg' | asset_url }}" alt="Margaret C" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">Margaret C.</div>
                <div class="review-title etica">Verified Buyer</div>
            </div>
        </div>
        <div class="review-text etica"><p>Amazing daily sweat—I love my Luminati! I get a daily dripping wet sweat in there for daily detox, amazing! It is easy to set up, easy to move and simple to use. Do it!</p></div>
    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'terry-wahls.jpg' | asset_url }}" alt="Terry Wahls" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">Terry Wahls</div>
                <div class="review-title etica">MD, Founder of The Wahls Protocol</div>
            </div>
        </div>
        <div class="review-text etica"><p>I am still very much enjoying my sauna most mornings! I definitely prefer the incandescent lamp heat over the far-infrared heaters in my old cabinet sauna.</p></div>
    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'nicole-moneer.jpg' | asset_url }}" alt="Nicole Moneer" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">Nicole Moneer</div>
                <div class="review-title etica">Verified Buyer</div>
            </div>
        </div>
        <div class="review-text etica"><p>My latest addition to my natural healing toolbox 🔧⛏🔨☺️</br/>

        Incandescent Single Light Panel near-infrared heat and light therapy.</p></div>
    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'jeannie-z.jpg' | asset_url }}" alt="Jeannie Z." loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">Jeannie Z.</div>
                <div class="review-title etica">Verified Buyer</div>
            </div>
        </div>
        <div class="review-text etica"><p>Great portable red light therapy lamp. Very well-made. Not sure who loves it more, my husband and I or our cat. :)</p></div>
    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'david-l.jpg' | asset_url }}" alt="David L" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">David L.</div>
                <div class="review-title etica">Verified Buyer</div>
            </div>
        </div>
        <div class="review-text etica"><p>This is hands down the number one health hack I have tried to date.</p></div>
    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'v-capaldi.jpg' | asset_url }}" alt="V. Capaldi" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">V. Capaldi</div>
                <div class="review-title etica">MS Warrior, TEDx Speaker
            </div>
            </div>
        </div>
        <div class="review-text etica"><p>I have to say never in my wildest dreams would I have thought this would be so life changing.</p></div>
    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'tiphany-adams.jpg' | asset_url }}" alt="Tiphany Adams" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">Tiphany Adams</div>
                <div class="review-title etica">Fitness Coach
            </div>
            </div>
        </div>
        <div class="review-text etica"><p>Retreating using red light therapy makes me smile because it feels like 🌞 and a mini vacation where you can release tensions and heavy thoughts while you relax.</p></div>
    </div>

    <div class="rc-box">
        <div class="rcb-name">
            
            <img src="{{ 'bella-c.jpg' | asset_url }}" alt="Bella C" loading="lazy" />
            <div class="rcb-text">
                <div class="review-name">Bella C.</div>
                <div class="review-title etica">Verified Buyer
            </div>
            </div>
        </div>
        <div class="review-text etica"><p>...the heat is so incredibly efficient that it allows you to get a much better sweat in far less time.</p></div>
    </div>

    </div>
</div>
    <p style="text-align: center; margin-top: -25px;"><a href="/pages/reviews" class="bold-link arrow-link">More Reviews</a></p>
</div>


{% schema %}
{
  "name": "t:sections.video.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Video",
      "label": "t:sections.video.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "image_picker",
      "id": "cover_image",
      "label": "t:sections.video.settings.cover_image.label"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "label": "t:sections.video.settings.video_url.label",
      "placeholder": "t:sections.video.settings.video_url.placeholder",
      "info": "t:sections.video.settings.video_url.info"
    },
    {
      "type": "text",
      "id": "description",
      "label": "t:sections.video.settings.description.label",
      "info": "t:sections.video.settings.description.info"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name"
    }
  ]
}
{% endschema %}
