{{ 'pin-animation.css' | asset_url | stylesheet_tag }}
{{ 'animate.css' | asset_url | stylesheet_tag }}
  <link href="https://vjs.zencdn.net/7.20.2/video-js.css" rel="stylesheet" />
    <section>
        <div class="ct-home">
            <div class="centered-text">
                <h2>Shop Our Saunas & Light Therapy</h2>
                <p class="etica">SaunaSpace combines cutting-edge infrared technology with nature's ancient wisdom to help you find relief.</p>
            </div>
            <div class="product-tiles">	
                <ul id="product-grid" data-id="{{ section.id }}" class="
                grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                {% if section.settings.columns_desktop == 1 %} grid--full-width{% else %}
                  grid--{{ section.settings.columns_desktop }}-col-desktop
                {% endif %}">
                
                {% for product in collections.featured-products.products %}
                  {% assign lazy_load = false %}
                  {%- if forloop.index > 2 -%}
                    {%- assign lazy_load = true -%}
                  {%- endif -%}
              
                  <li class="featured-grid">
                    {% render 'card-product-simple',
                      card_product: product,
                      media_aspect_ratio: section.settings.image_ratio,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      lazy_load: lazy_load
                    %}
                  </li>
                {%- endfor -%}
              </ul>
        </div>
            <p style="text-align: right;"><a href="/pages/infrared-saunas" class="bold-link arrow-link">Shop All</a></p>
        </div>
    </section>
</div>

<section class="section-three-panels">
    <div class="three-panels">
        <a href="/pages/infrared-saunas" class="three-panel">
            <div class="three-panel-inset-text">
                <h2>Infrared Saunas</h2>
                <div class="bold-link bold-link-white arrow-link">Explore</div>
            </div>
            <img src="{{ 'home-infrared-saunas.jpg' | asset_url }}" alt="" loading="lazy" />
        </a>
        <a href="/pages/targeted-therapy" class="three-panel">
            <div class="three-panel-inset-text">
                <h2>Targeted Therapy</h2>
                <div class="bold-link bold-link-white arrow-link">Explore</div>
            </div>
            <img src="{{ 'home-targeted-therapy.jpg' | asset_url }}" alt="" loading="lazy" />
        </a>
        <a href="/pages/sauna-components" class="three-panel">
            <div class="three-panel-inset-text">
                <h2>Sauna Components</h2>
                <div class="bold-link bold-link-white arrow-link">Explore</div>
            </div>
            <img src="{{ 'home-sauna-components.jpg' | asset_url }}" alt="" loading="lazy" />
        </a>
    </div>
</section>

<div class="two-colsBG" style="background-image:url({{ 'home-technology-canyon.jpg' | asset_url }});">
<div class="two-cols two-cols-wide">
    <div class="col">
        <img src="{{ 'home-technology-sauna.jpg' | asset_url }}" alt="Home Technology" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            

<h2 class="alignLeft">Technology That Channels Nature</h2>
<p>We dive deep into the research to ensure our saunas optimize the body’s most powerful processes for repairing and relaxing.</p>
<a href="/pages/how-do-infrared-saunas-work" class="bold-link bold-link-white arrow-link">Learn about Our Tech</a>

        </div>
    </div>
</div>
</div>

<div class="two-cols two-cols-wide tc-reverse">
    <div class="col">
        
        <img src="{{ 'home-balance.jpg' | asset_url }}" alt="home Balance" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms3'>

<h2 class="alignLeft">A Return to Balance</h2>
<p>Unplug more deeply in your personal self-care space. Our products are engineered to help you block out environmental stresses and soothe screen fatigue.</p>
</cms cms3>
        </div>
    </div>
</div>

<div class="oc2 oc2-reverse oc2-home"  style="background-image: url({{ 'home-fabric.jpg' | asset_url }});">
    <div class="oc-text">
        <cms id='cms4'>


<h2 class="alignLeft">Integrity Through Craftsman­ship.</h2>
<p>Natural materials, constructed with the utmost care and precision, designed to go wherever life takes you. We perfect every inch of our products so you can make a lifelong investment in your health.</p>
<a href="/pages/about" class="bold-link bold-link-white arrow-link">Get to Know Us</a>
</cms cms4>
    </div>
</div>


{% schema %}
{
  "name": "Home Page Static",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Home Page Static",
      "label": "t:sections.video.settings.heading.label"
    }
  ],
  "presets": [
    {
      "name": "Home Page Static"
    }
  ]
}
{% endschema %}
