<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>


<div class="generic-headerBG noMargin">
    <div class="generic-header">
        <div class="gh-text">
            <cms id='cms0'>
            <h1>How our saunas work</h1>
            <p class="etica">Wondering how technology can work like nature? Learn the science behind infrared light and our unique ThermaLight® spectrum.</p>
            </cms cms0>
        </div>
    </div>
</div>

<div class="tanBG justAnchors">
    <section>
    <div class="page-anchors">
        <a href="#irtherapy" class="page-anchor">Infrared Therapy</a>
        <a href="#lightspectrum" class="page-anchor">Light Spectrum</a>
        <a href="#ourapproach" class="page-anchor">Our Approach</a>
        <a href="#irbenefits" class="page-anchor">Infrared Therapy Benefits</a>
    </div>
    </section>
</div>


<div class="two-cols two-cols-wide tc-reverse tc-top" id="irtherapy">
    <div class="col">
        <img src="{{ 'how-it-works-infraredTherapy.jpg' | asset_url }}" alt=""  loading="lazy"/>
    </div>
    <div class="col">
        <div class="tcw-text tcw-text-100">
            <cms id='cms1'>
            <p class="etica">INFRARED THERAPY</p>
            <h2 class="alignLeft">How Do Infrared Saunas Work?</h2>
            <p>All saunas have the same goal: to raise your core body temperature enough to jump-start its natural healing processes.</p>

            <p>Traditional saunas use steam, fire, or electric heaters to make the air in the sauna hot, which eventually heats up your body from the outside in. Infrared saunas tap into the science of light to help you sweat faster and more comfortably.</p><p><span style="font-size: 1.6rem; font-weight: 700;">Near infrared saunas</span><br></p>

            <p>Unlike the traditional methods, near infrared (NIR) light works with your body’s biology to create radiant heat—from the inside out. By using near infrared’s shorter wavelengths in a way that mimics natural sunlight, the light penetrates deeply to raise your core temperature faster.</p>

            <p>Near infrared saunas give you:</p>
            <ul>
            <li>Ultrafast heat therapy</li>
            <li>Comfortable air temperatures</li>
            <li>Built-in light therapy</li>
            <li>Faster sauna sessions</li></ul>

            <h3>Far infrared saunas</h3>

            <p>There are many far infrared (FIR) saunas on the market, but these longer wavelengths are absorbed by water, which means they won’t get past the water in the surface layers of your skin. If your sauna relies primarily on FIR, it may take longer to raise your core body temperature.</p>

            <p>Another drawback of far infrared saunas is the lack of light therapy. Our bodies don’t have receptors for far infrared light. To remedy this, some brands will add LED light therapy panels, but the combination of these approaches still doesn’t match the effectiveness of how infrared light works in nature.</p>

            <h3>The perfect combination</h3>

            <p>By bringing these two therapeutic approaches into our meticulously engineered saunas, SaunaSpace helps people enjoy relief, relaxation, and wellness at its best. Keep reading to see how it works.</p>
            </cms cms1>
        </div>
    </div>
</div>


<div class="tanBG noMargin" id="lightspectrum">
<div class="two-cols two-cols-wide two-col-graphs">
    <div class="col tcg-text">
        <cms id='cms2'>
<p class="etica">LIGHT SPECTRUM</p>
<h2>What is infrared light?</h2>
<p>Although we primarily think of light in terms of the sun, fire, and artificial light, what our eyes can see is only a small part of a larger spectrum of light.</p>
<p>As you move from left to right on the spectrum, the wavelengths get longer. Infrared light comes just after visible light. We can’t see it, but we can <b>feel</b> it. Infrared light from the sun is what makes us feel warm and comfortable.</p>
<p>Let’s look a little closer at the types of light we get from the sun.</p>
</cms cms2>
    </div>
    <div class="col tcg-img">
        <img src="{{ 'how-it-works-whatIsInfraredGraph.svg' | asset_url }}" alt="Graph explaining infrared light" loading="lazy"/>
    </div>
</div>
<div class="two-cols two-cols-wide two-col-graphs">
    <div class="col tcg-text">
        <cms id='cms3'>
        <h2>The Anatomy of Sunlight</h2>
        <p>Out of all the types of light we get from the sun, about 41% is near infrared. In the chart, you can see that the natural distribution of light trails gradually into the mid and far infrared spectrum. </p>
        <p>Where far infrared and LED technologies use a more limited spectrum to create the sauna effect, our unique ThermaLight® spectrum mimics sunlight’s gradual curve to give you the most natural experience.</p>
        </cms cms3>
    </div>
    <div class="col tcg-img">
        <img src="{{ 'how-it-works-sunlightGraph.svg' | asset_url }}" alt="Graph explaining sunlight" loading="lazy" />
    </div>
</div>
</div>




<div class="greyBG" id="ourapproach">
<div class="two-cols two-cols-wide tc-reverse">
    <div class="col">
        <img src="{{ 'thermalight-infrared-bulb-greyBG.jpg' | asset_url }}" alt="Thermalight bulb" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms4'>
            <p class="etica">OUR APPROACH</p>
            <h2 class="alignLeft">What is ThermaLight Technology?</h2>
            <p>ThermaLight® technology refers to our proprietary incandescent sauna bulbs, which combine the finest tungsten filaments, mouth-blown red-stained glass, and years of engineering to produce a full-spectrum infrared light that mimics the best of nature.</p>
            </cms cms4>
        </div>
    </div>
</div>
</div>


<div class="two-cols two-cols-wide two-col-graphs tc-reverse">
    <div class="col tcg-text">
        <cms id='cms5'>
        <h2>What Makes Our Spectrum Special?</h2>
        <p>The ThermaLight® bulb has a very similar light distribution to sunlight—peaking in the optimal therapeutic wavelengths of red and near infrared light, then trailing gently into mid and far infrared. The major difference is that we’ve taken out harmful UV and blue light for your health and safety.</p>
        <p>Our focus on near infrared isn’t just natural, it’s more comfortable. Because they heat you directly, ThermaLight® bulbs don't need to make the air in your sauna as hot. You’ll get all the benefits of heat and light therapy, but without feeling the stifling heat of traditional saunas.</p>
        </cms cms5>
    </div>
    <div class="col tcg-img">
        <img src="{{ 'how-it-works-specialSpectrumGraph.svg' | asset_url }}" alt="Graph explaining spectrum" loading="lazy" />
    </div>
</div>


<div class="tanBG" id="irbenefits">
<div class="two-cols two-cols-wide tc-reverse">
    <div class="col">
        <img src="{{ 'how-it-works-affectMyBody.jpg' | asset_url }}" alt="Man in Sauna" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms6'>
            <p class="etica">INFRARED THERAPY BENEFITS</p>
            <h2 class="alignLeft">How Does Near Infrared Sauna Therapy Affect My Body?</h2>
            <p>SaunaSpace saunas are a non-invasive way to kickstart your body’s most beneficial processes. This happens in two ways: light therapy (phototherapy) and heat therapy (sauna).</p>
            <h3>Light therapy</h3>
            <p>Your body has special receptors for red and near infrared light. The light particles are absorbed by cells’ mitochondria, triggering helpful biological processes and signals. Research shows that this reaction reduces inflammation and  stimulates blood flow, oxygenation, circulation, muscle relaxation, and the production of energy at a cellular level.</p>
            <h3>Heat therapy</h3>
            <p>The near infrared light in our saunas creates radiant heat that raises your core body temperature by three degrees. That increase in temperature makes you sweat, but it also triggers your natural detoxification response.</p>
            <a href="full-spectrum-infrared-sauna-health-benefits.html" class="bold-link arrow-link">Discover the benefits of full-spectrum infrared therapy</a>
            </cms cms6>
        </div>
    </div>
</div>
</div>


<div class="two-cols two-cols-wide two-col-graphs noMargin">
    <div class="col tcg-img">
        <img src="{{ 'how-it-works-emfShielding.jpg' | asset_url }}" alt="" class="tcg-photo" loading="lazy" />
    </div>
    <div class="col tcg-text">
        <div class="tcw-text">
            <cms id='cms7'>
            <h2 class="alignLeft">EMF Shielding: The Best Kept Secret in Rejuvenation</h2>
            <p>Wi-Fi, cell phone signals, electricity—our modern environment is a stressful place. Learn how we help you block out the world for even better results.</p>
            <a href="what-are-electromagnetic-fields-emfs.html" class="bold-link arrow-link">Learn More</a>
            </cms cms7>
        </div>
    </div>
</div>


    <div class="orangeBG noMargin">
        <div class="emf-learn">
            <cms id='cms8'>
            <h2>Want to Dive Deeper?</h2>
            <p>We’re all about using science to help you live your best life. Now that you’ve learned the basics, check out the research <!--and our articles--> to get deeper insights.</p>
            <!-- <div class="two-btns"> -->
                <div class="btnBox"><a href="infrared-sauna-light-therapy-research.html" class="btn btn-outline">Visit the Research Archive</a></div>
                <!-- <a href="#0" class="btn btn-outline">Explore Articles & Videos</a> -->
            <!-- </div> -->
            </cms cms8>
        </div>
    </div>


{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
