{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}

<div class="page-width{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  <div>
    <div id="cart-errors"></div>
    <div class="cart__footer yc-cols">
      {%- if section.settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea class="text-area field__input" name="note" form="cart" id="Cart-note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
        </cart-note>
      {%- endif -%}
     
        <div class="yc-col">
          <div class="yc-col-head yc-acc">Pay Over Time</div>
          <div class="ycf-box hideMe">
            <div class="yc-financing">
              <img src="{{ 'splitit.svg' | asset_url }}" width="85" alt="SplitIt" loading="lazy" />
              <span data-ml="splitItSummary"><p>Monthly payments using your credit card. 0% interest.</p></span>
              <a href="javascript:void(0)" class="yc-col-learnMore" onclick="potMore('splitit')">Learn More</a>
                
              <img src="{{ 'shop-pay.svg' | asset_url }}" width="185" alt="Bread Financing" style="margin-top: 40px;" loading="lazy" />
              <span data-ml="breadSummary"><p>Simple loan with semimonthly payments as low as 0% APR for 2 months.*</p></span>
              <a href="javascript:void(0)" class="yc-col-learnMore" onclick="potMore('bread')">Learn More</a>
            </div>
          </div>
          <div class="pot-col-100 hideMe" id="splititCol">
            <a href="javascript:void(0)" class="pot-close"><img src="{{ 'close.svg' | asset_url }}" alt="Close" style="width: 15" height="15" loading="lazy"/ ></a>
            <img src="{{ 'splitit.svg' | asset_url }}" width="85" alt="SplitIt" loading="lazy" />
            <span data-ml="splitItText"><ul><li>0% interest</li><li>Monthly payments on your existing credit card</li><li>Keep earning rewards from your credit card</li><li>No credit check needed to qualify</li><li>Choose from 2-12 month payment plans.</li></ul></span>
            <p class="fineprint">You can choose this option at checkout.</p>
          </div>
          <div class="pot-col-100 hideMe" id="breadCol">
            <a href="javascript:void(0)" class="pot-close"><img src="{{ 'close.svg' | asset_url }}" alt="Close" style="width: 15" height="15" loading="lazy" /></a>
            <img src="{{ 'shop-pay.svg' | asset_url }}" width="185" alt="Bread Financing" loading="lazy" />
            <span data-ml="breadText"><ul><li>4 interest-free payments every two weeks</li><li>Interest-bearing options for up to 12 months*</li><li>Traditional installment loan</li><li>Check your rate without affecting your credit score</li></ul><p>*Rates from 0% APR or 10-30% APR. Payment options through Shop Pay Installments are subject to an eligibility check and are provided by these lending partners: <a href="https://www.affirm.com/lenders" target="_blank">affirm.com/lenders</a>. Options depend on your purchase amount, and a down payment may be required. State notices to consumers <a href="https://www.affirm.com/licenses" target="_blank">affirm.com/licenses</a>.</p></span>
            <p class="fineprint">Check your eligibility in minutes at checkout.</p>
          </div>
        </div>
        <div class="yc-col">
          <div class="yc-col-head yc-acc">Shipping</div>
          <div class="yc-shipping hideMe">
            <cms id="cms1">
  
  
  
  <p>All U.S. orders are sent via FedEx. International orders may be sent via FedEx or DHL Express.</p>
  <p>SaunaSpace offers free shipping for all orders over $200 in Canada and the contiguous United States. Estimates for all other orders are available in checkout after providing your shipping destination.</p>
  </cms>
            <!-- <p class="debug">Weight: <span class="cartWeight">7</span> lbs</p> -->
          </div>
        </div>
        <div class="yc-col yc-col-checkout">
          <div class="yc-col-head">Your Order <span class="ycc-items">{{ cart.item_count }} item(s)</span></div>
          <!--
          <div class="ycc-lineitem"><strong>Subtotal</strong><span class="etica cartTotal">$349.99</span></div>
          <div class="ycc-lineitem"><strong>Shipping & Tax</strong><span class="fineprint">Calculated at checkout</span></div>
          -->
          
          {% for block in section.blocks %}
          {%- case block.type -%}
          {%- when '@app' -%}
          {% render block %}
          {%- when 'subtotal' -%}
          <div class="js-contents" {{ block.shopify_attributes }}>
            <div class="totals">
                  <div class="ycc-lineitem"><strong>Estimated Total</strong><span class="etica-bold cartTotal totals__subtotal-value">{{ cart.total_price | money_with_currency }}</span><div class="fineprint">Shipping and tax are calculated at checkout.</div></div>
                </div>

                <div>
                  {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                        <li class="discounts__discount discounts__discount--position">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                          (-{{ discount.total_allocated_amount | money }})
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>

                <!-- <small class="tax-note caption-large rte">
                  {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                  {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                  {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                  {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                  {%- endif -%}
                </small> -->
              </div>
            {%- else -%}
              <div class="cart__ctas" {{ block.shopify_attributes }}>
                <noscript>
                  <button type="submit" class="cart__update-button button button--secondary" form="cart">
                    {{ 'sections.cart.update' | t }}
                  </button>
                </noscript>

                <button type="submit" id="checkout" class="cart__checkout-button button btn btn-checkout" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                  {{ 'sections.cart.checkout' | t }}
                </button>
              </div>

          {%- endcase -%}
        {% endfor %}
        </div>
   
      
        

       
   
    </div>
  </div>
</div>

{% javascript %}
  class CartNote extends HTMLElement {
    constructor() {
      super();

      this.addEventListener('change', debounce((event) => {
        const body = JSON.stringify({ note: event.target.value });
        fetch(`${routes.cart_update_url}`, {...fetchConfig(), ...{ body }});
      }, 300))
    }
  }

  customElements.define('cart-note', CartNote);
{% endjavascript %}

<script>

function potMore(f) {
	$(".yc-financing").addClass("hideMe");
	$("#" + f + "Col").removeClass("hideMe");
}

$(".pot-col-100").on("click",function() {
	$(this).addClass("hideMe");
	$(".yc-financing").removeClass("hideMe");
});

$(".yc-col-head.yc-acc").on("click",function() {
	$(this).toggleClass("yc-acc-minus");
	$(this).next().toggleClass("hideMe");
});

  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": false,
      "label": "t:sections.main-cart-footer.settings.show_cart_note.label"
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
