{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{% if section.settings.enable_collection %}
<section class="category_filter_box">
  <div class="product-categories">
    <a href="javascript:void(0)" class="product-category pc-shopAll product-category-on" data-cat="all" onclick="filterProducts('all')">
      <div><span>Shop All</span></div>
    </a>
  {% for block in section.blocks %}
      {% if block.type == "collection_list" %}
          {% if block.settings.col_item != blank %}
          <a href="javascript:void(0)" class="product-category" style="background-image:url({{ block.settings.collection_img | img_url : 'master'  }})" data-cat="{{ block.settings.collection_title.title | handle }}" onclick="filterProducts('{{ block.settings.collection_title.title | handle }}')">
              <div><span>{{ block.settings.col_item }}</span></div>
            </a>
          {% endif %}
      {% endif %}
  {% endfor %}
  {% comment %}
    <a href="javascript:void(0)" class="product-category product-category-on" style="background-image:url(../img/cat-infrared-saunas.jpg)" data-cat="infrared-saunas" onclick="filterProducts('infrared-saunas')">
      <div><span>Infrared Saunas</span></div>
    </a>

    <a href="javascript:void(0)" class="product-category" style="background-image:url(../img/cat-targeted-therapy.jpg)" data-cat="targeted-therapy" onclick="filterProducts('targeted-therapy')">
      <div><span>Targeted Therapy</span></div>
    </a>

    <a href="javascript:void(0)" class="product-category" style="background-image:url(../img/cat-sauna-components.jpg)" data-cat="sauna-components" onclick="filterProducts('sauna-components')">
      <div><span>Sauna Components</span></div>
    </a>

    <a href="javascript:void(0)" class="product-category" style="background-image:url(../img/cat-replacement-bulbs.jpg)" data-cat="replacement-bulbs" onclick="filterProducts('replacement-bulbs')">
      <div><span>Replacement Bulbs</span></div>
    </a>

    <a href="javascript:void(0)" class="product-category" style="background-image:url(../img/cat-merchandise.jpg)" data-cat="merchandise" onclick="filterProducts('merchandise')">
      <div><span>Merchandise</span></div>
    </a>

    <a href="javascript:void(0)" class="product-category" style="background-image:url(../img/cat-products-we-love.jpg)" data-cat="products-we-love" onclick="filterProducts('products-we-love')">
      <div><span>Products We Love</span></div>
    </a>
  {% endcomment %}
  </div>
</section>

{% style %}
section.category_filter_box {
	border-bottom: 1px solid #979797;
	max-width: 1200px;
}
.collection_Div > div.collection {
	padding: 20px 0;
}
.collection_Div .grid.product-grid{
	column-gap: 20px;
}

@media screen and (min-width: 990px){
	.collection_Div .grid--4-col-desktop .grid__item {
        max-width: 275px;
		margin-left:0px;
    }
}
{% endstyle %}
<script>
	function queryStr( name, url ) {
        if (!url) url = location.href;
        name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
        var regexS = "[\\?&]"+name+"=([^&#]*)";
        var regex = new RegExp( regexS );
        var results = regex.exec( url );
        return results == null ? null : results[1];
    }
    var getValue = queryStr('filter', window.location.href)
  	console.log(getValue);
  setTimeout(function(){
  	filterProducts(getValue);
  },100)
	
	function filterProducts(pc) {
		$(".product-category").removeClass("product-category-on");
		$("[data-cat=" + pc + "]").addClass("product-category-on");
		$(".collection_Div").addClass("hideMe");
		if(pc=="all") {
			$(".collection_Div").removeClass("hideMe");
		} else {
			$("." + pc).removeClass("hideMe");
		}
	}
	
	
		
</script>
{% else %}
<div class="page-width">
  <h1 class="title title--primary">{{ section.settings.title | escape }}</h1>
  {%- liquid
    case section.settings.sort
      when 'products_high' or 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date' or 'date_reversed'
        assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif
  -%}
  <ul class="collection-list grid grid--1-col grid--3-col-tablet" role="list">
    {%- for collection in collections -%}
      <li class="collection-list__item grid__item">
        {% render 'card-collection', card_collection: collection, media_aspect_ratio: section.settings.image_ratio, columns: 3 %}
      </li>
    {%- endfor -%}
  </ul>
</div>
{% endif %}
{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-list-collections.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-list-collections.settings.image_ratio.label",
      "info": "t:sections.main-list-collections.settings.image_ratio.info"
    },
	{
      "type": "checkbox",
      "id": "enable_collection",
      "label": "Enable Collection Filter",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "collection_list",
      "name": "Collection List",
      "settings": [
        {
          "type" : "text",
          "id": "col_item",
          "label" : "Title"
        },
        {
          "type" : "text",
          "id": "deal_sub_txt",
          "label" : "Detail"
        },
        {
          "type" : "collection",
          "id": "collection_title",
          "label" : "Collection"
        },
        {
          "type" : "image_picker",
          "id": "collection_img",
          "label" : "Collection Image"
        }
      ]
    }
  ]
}
{% endschema %}
