{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

<style>
    @media (max-width: 990px) {

        .navBG.sticky {
            position: relative !important;
        }
    }
</style>
<div class="generic-headerBG gh-short">
    <div class="generic-header gh-short">
        <div class="gh-text" id="theTop">
            <h1>References</h1>
        </div>
    </div>
</div>
<section>
    <div class="research-cols">
        <div class="research-topics">
            <label>Sort by:</label>
            <input id="topi" type="radio" class="hiddenRadio" name="topicAuthor" value="Topic" checked onClick="sortBy(this.value)"><label class="inlineLabel" for="topi">Topic</label>
            <input id="auth" type="radio" class="hiddenRadio" name="topicAuthor" value="Alpha"  onClick="sortBy(this.value)"><label class="inlineLabel" for="auth">Author (A - Z)</label>
            <div class="topics" id="filterTopic">
                
                    {%- for tag in blog.all_tags -%}
                        {% assign i = i | plus:1 %}
                        <a href="#topic{{i}}" class="topicLink">{{ tag }}</a>{% unless forloop.last %} {% endunless %}
                    {%- endfor -%}
            
            </div>
            <div class="topics topics-alpha hideMe" id="filterAlpha">
                <a href="#alphaA" class="topicLink topicLink-alpha">A</a>
                <a href="#alphaB" class="topicLink topicLink-alpha">B</a>
                <a href="#alphaC" class="topicLink topicLink-alpha">C</a>
                <a href="#alphaD" class="topicLink topicLink-alpha">D</a>
                <a href="#alphaE" class="topicLink topicLink-alpha">E</a>
                <a href="#alphaF" class="topicLink topicLink-alpha">F</a>
                <a href="#alphaG" class="topicLink topicLink-alpha">G</a>
                <a href="#alphaH" class="topicLink topicLink-alpha">H</a>
                <a href="#alphaI" class="topicLink topicLink-alpha">I</a>
                <a href="#alphaJ" class="topicLink topicLink-alpha">J</a>
                <a href="#alphaK" class="topicLink topicLink-alpha">K</a>
                <a href="#alphaL" class="topicLink topicLink-alpha">L</a>
                <a href="#alphaM" class="topicLink topicLink-alpha">M</a>
                <a href="#alphaN" class="topicLink topicLink-alpha">N</a>
                <a href="#alphaO" class="topicLink topicLink-alpha">O</a>
                <a href="#alphaP" class="topicLink topicLink-alpha">P</a>
                <a href="#alphaQ" class="topicLink topicLink-alpha">Q</a>
                <a href="#alphaR" class="topicLink topicLink-alpha">R</a>
                <a href="#alphaS" class="topicLink topicLink-alpha">S</a>
                <a href="#alphaT" class="topicLink topicLink-alpha">T</a>
                <a href="#alphaU" class="topicLink topicLink-alpha">U</a>            
                <a href="#alphaV" class="topicLink topicLink-alpha">V</a>           
                <a href="#alphaW" class="topicLink topicLink-alpha">W</a>           
                <a href="#alphaX" class="topicLink topicLink-alpha">X</a>            
                <a href="#alphaY" class="topicLink topicLink-alpha">Y</a>           
                <a href="#alphaZ" class="topicLink topicLink-alpha">Z</a>
            </div>
        </div>
        <div class="research-links" id="byTopic">
          <a href="#theTop" class="back-to-top"></a>
            {%- paginate blog.articles by 1000 -%}
            {%- for tag in blog.all_tags -%}
                {% assign current_tag = tag %}
                {% assign j = j | plus:1 %}                              
                <span id="topic{{j}}" class="topicAnchor"></span>
                <h3>{{ current_tag }}</h3>
                <div id=”{{ tag | handle }}” class=”sub-question-list”>
                    {%- for article in blog.articles -%}
                        {%- if article.tags contains current_tag -%}
                            <div class="research-link ">
                                {%- render 'research-card',
                                    article: article,
                                    media_height: section.settings.image_height,
                                    media_aspect_ratio: article.image.aspect_ratio,
                                    show_image: section.settings.show_image,
                                    show_date: section.settings.show_date,
                                    show_author: section.settings.show_author,
                                    show_excerpt: true 
                                -%}
                                </div>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            {% endfor %} 
            {%- endpaginate -%}
          </div>
          <div class="research-links hideMe" id="byAlpha">
            <a href="#theTop" class="back-to-top"></a>
            {% assign articles = blog.articles | sort: 'title' %}
            {% assign letters = '' %}
            {% assign letter = blank %}
            {%- paginate articles by 1000 -%}
                {%- for article in blog.articles -%}
                    {% assign letter = article.title | slice: 0 | upcase %}
                    {% unless letters contains letter %}
                      {% assign letters = letters | append: letter | append: '|' %}
                    {% endunless %}
                {%- endfor -%}
                {% assign letters = letters | split: '|' | sort %}
                {%- for current_letter in letters -%}
                    <span id="alpha{{current_letter}}" class="topicAnchor"></span>
                    <h3>{{ current_letter }}</h3>
                        {%- for article in blog.articles -%}
                            {% assign checkArray = article.title | split:current_letter %}
                            {% if checkArray[0] == blank %}
                                <div class="research-link ">
                                    {%- render 'research-card',
                                        article: article,
                                        media_height: section.settings.image_height,
                                        media_aspect_ratio: article.image.aspect_ratio,
                                        show_image: section.settings.show_image,
                                        show_date: section.settings.show_date,
                                        show_author: section.settings.show_author,
                                        show_excerpt: true 
                                    -%}
                                    </div>
                            {%- endif -%}
                        {%- endfor -%}
                  {% endfor %}
            {%- endpaginate -%}
          </div>
    </div>
</section>



<script>
	function sortBy(s) {
    console.log(s);
		$(".research-links").addClass("hideMe");
		$(".topics").addClass("hideMe");
		$("#by" + s).removeClass("hideMe");
		$("#filter" + s).removeClass("hideMe");
	}
	
	$(".topicLink").on("click",function() {
		$(".topicLink").removeClass("topicLinkOn");
		$(this).addClass("topicLinkOn");
	});
</script>

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "grid",
          "label": "t:sections.main-blog.settings.layout.options__1.label"
        },
        {
          "value": "collage",
          "label": "t:sections.main-blog.settings.layout.options__2.label"
        }
      ],
      "default": "collage",
      "label": "t:sections.main-blog.settings.layout.label",
      "info": "t:sections.main-blog.settings.layout.info"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-blog.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-blog.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-blog.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-blog.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-blog.settings.image_height.label",
      "info": "t:sections.main-blog.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
