

	<section>
		<div class="centered-text ct-home topMargin">
			<cms id='cms1'>
<h2>Compare Saunas</h2>
<p class="etica">Which sauna is right for you? We’re breaking down the differences between the Luminati and the Faraday to help you decide.</p>
</cms cms1>
		</div>
	</section>


<!--Luminati -->
<div class="compare-saunasBox">
	<div class="compare-saunas" style="background-image:linear-gradient(-74deg, rgba(198,122,38,0.00) 0%,  rgba(198,122,38,.4) 73%), url({{ 'infrared-saunas-luminati.jpg' | asset_url }});">

		<div class="num lum1" id="lc1">1</div>
		<div class="num lum2" id="lc2">2</div>
		<div class="num lum3" id="lc3">3</div>
		<div class="num lum4" id="lc4">4</div>


		<div class="compare-sauna cs-left">
			<div class="cs-text">
				<cms id='cms2a'>
				<div class="cs-subhead">Portable infrared sauna</div>
				<a href="/products/infrared-saunas/luminati-infrared-sauna#natural" class="cs-head">The Luminati</a>
				<div class="cs-fineprint">Shown in Stone. Also available in Natural, Dark Chocolate, Indigo, and Hand-Dyed Turmeric.</div>
				</cms cms2a>
			</div>
			<div class="compare-panel" data-panel="lc1">
				<div class="cp-num">1</div>
				<div class="cp-text">
					<cms id='cms2b'>
<div class="cp-head">Adjustable sauna panel</div>
<p>Get all the benefits of near infrared light and heat therapy with four adjustable levels of intensity.</p>
</cms cms2b>
				</div>
			</div>
			<div class="compare-panel" data-panel="lc2">
				<div class="cp-num">2</div>
				<div class="cp-text">
					<cms id='cms2c'>
					<div class="cp-head">Grounding mat</div>
					<p>Protect your floors and channel electromagnetic fields (EMFs) from your environment back into a grounded outlet for bonus earthing therapy.</p>
					</cms cms2c>
				</div>
			</div>
		</div>
	
		<div class="compare-sauna cs-right">
			<div class="compare-panel" style="margin-top: 35%;" data-panel="lc3">
				<div class="cp-num">3</div>
				<div class="cp-text">
					<cms id='cms2d'>
					<div class="cp-head">Portable enclosure</div>
					<p>Two layers of machine-washable organic cotton maintain the ideal air temperature without any synthetic materials. Move it to a new room or home with ease.</p>
					</cms cms2d>
				</div>
			</div>
			<div class="compare-panel" data-panel="lc4">
				<div class="cp-num">4</div>
				<div class="cp-text">
					<cms id='cms2e'>
					<div class="cp-head">Ergonomic stool</div>
					<p>The curved seat helps you rotate and stay comfortable during your session. Stores flat when not in use.</p>
					</cms cms2e>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="compare-saunas-small">
	<div class="compare-panel">
		<div class="cp-num">1</div>
		<div class="cp-text">
			<cms id='cms2f'>
			<div class="cp-head">Adjustable sauna panel</div>
			<p>Get all the benefits of near infrared light and heat therapy with four adjustable levels of intensity.</p>
			</cms cms2f>
		</div>
	</div>
	<div class="compare-panel">
		<div class="cp-num">2</div>
		<div class="cp-text">
			<cms id='cms2g'>
			<div class="cp-head">Grounding mat</div>
			<p>Protect your floors and channel electromagnetic fields (EMFs) from your environment back into a grounded outlet for bonus earthing therapy.</p>
			</cms cms2g>
		</div>
	</div>
	<div class="compare-panel">
		<div class="cp-num">3</div>
		<div class="cp-text">
			<cms id='cms2h'>
			<div class="cp-head">Portable enclosure</div>
			<p>Two layers of machine-washable organic cotton maintain the ideal air temperature without any synthetic materials. Move it to a new room or home with ease.</p>
			</cms cms2h>
		</div>
	</div>
	<div class="compare-panel">
		<div class="cp-num">4</div>
		<div class="cp-text">
			<cms id='cms2i'>
			<div class="cp-head">Ergonomic stool</div>
			<p>The curved seat helps you rotate and stay comfortable during your session. Stores flat when not in use.</p>
			</cms cms2i>
		</div>
	</div>
	<p class="fineprint" style="width: 100%; text-align: center; max-width: 75%;margin: 1em auto;">
	<cms id='cms2j'>
	Shown in Stone. Also available in Natural, Dark Chocolate, Indigo, and Hand-Dyed Turmeric.
	</cms cms2j>
	</p>
</div>


<!--Faraday-->
<div class="compare-saunasBox cs-faraday">
	<div class="compare-saunas" style="background-image:linear-gradient(-74deg, rgba(198,122,38,0.00) 0%,  rgba(198,122,38,.4) 73%), url({{ 'infrared-saunas-faraday.jpg' | asset_url }});">

		<div class="num far1" id="fc1">1</div>
		<div class="num far2" id="fc2">2</div>
		<div class="num far3" id="fc3">3</div>
		<div class="num far4" id="fc4">4</div>
		<div class="num num5 far5" id="fc5">5</div>


		<div class="compare-sauna cs-left">
			<div class="cs-text">
				<cms id='cms3a'>
				<div class="cs-subhead">The World’s Only EMF-Blocking Sauna</div>
				<a href="/products/infrared-saunas/faraday-infrared-sauna" class="cs-head">The Faraday</a>
				<div class="cs-fineprint">Shown in Hand-Dyed Turmeric. Also available in Natural, Dark Chocolate, Indigo, and Stone.</div>
				</cms cms3a>
			</div>
			<div class="compare-panel" data-panel="fc1">
				<div class="cp-num">1</div>
				<div class="cp-text">
					<cms id='cms3b'>
					<div class="cp-head">Adjustable sauna panel</div>
					</cms cms3b>
				</div>
			</div>
			<div class="compare-panel" data-panel="fc2">
				<div class="cp-num">2</div>
				<div class="cp-text">
					<cms id='cms3c'>
					<div class="cp-head">Grounding mat</div>
					</cms cms3c>
				</div>
			</div>
		</div>
	
		<div class="compare-sauna cs-right">
			<div class="compare-panel" style="margin-top: 35%;" data-panel="fc3">
				<div class="cp-num">3</div>
				<div class="cp-text">
					<cms id='cms3d'>
					<div class="cp-head">Portable enclosure</div>
					</cms cms3d>
				</div>
			</div>
			<div class="compare-panel" data-panel="fc4">
				<div class="cp-num">4</div>
				<div class="cp-text">
					<cms id='cms3e'>
					<div class="cp-head">Ergonomic stool</div>
					</cms cms3e>
				</div>
			</div>
			<div class="compare-panel cp-shield" data-panel="fc5">
				<div class="cp-num">5</div>
				<div class="cp-text">
					<img src="{{ 'emf-blocking-badge.svg' | asset_url }}" alt="EMF Blocking Sauna" />
					<cms id='cms3f'>
					<div class="cp-head">EMF-Blocking Shield</div>
					<p>Woven from silver and concealed between two layers of organic cotton, SaunaSpace’s unique shield takes your escape to new depths. Block out cell signals, Wi-Fi, and other electromagnetic fields to find an escape like no other.</p>
					</cms cms3f>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="compare-saunas-small">
	<div class="compare-panel">
		<div class="cp-num">1</div>
		<div class="cp-text">
			<cms id='cms3g'>
			<div class="cp-head">Adjustable sauna panel</div>
			<p>Get all the benefits of near infrared light and heat therapy with four adjustable levels of intensity.</p>
			</cms cms3g>
		</div>
	</div>
	<div class="compare-panel">
		<div class="cp-num">2</div>
		<div class="cp-text">
			<cms id='cms3h'>
			<div class="cp-head">Grounding mat</div>
			<p>Protect your floors and channel electromagnetic fields (EMFs) from your environment back into a grounded outlet for bonus earthing therapy.</p>
			</cms cms3h>
		</div>
	</div>
	<div class="compare-panel">
		<div class="cp-num">3</div>
		<div class="cp-text">
			<cms id='cms3i'>
			<div class="cp-head">Portable enclosure</div>
			<p>Two layers of machine-washable organic cotton maintain the ideal air temperature without any synthetic materials. Move it to a new room or home with ease.</p>
			</cms cms3i>
		</div>
	</div>
	<div class="compare-panel">
		<div class="cp-num">4</div>
		<div class="cp-text">
			<cms id='cms3j'>
			<div class="cp-head">Ergonomic stool</div>
			<p>The curved seat helps you rotate and stay comfortable during your session. Stores flat when not in use.</p>
			</cms cms3j>
		</div>
	</div>
	<div class="compare-panel cp-shield">
		<div class="cp-num">5</div>
		<div class="cp-text">
			<img src="{{ 'emf-blocking-badge.svg' | asset_url }}" alt="EMF Blocking Sauna" />
			<cms id='cms3k'>
			<div class="cp-head">EMF-Blocking Shield</div>
			<p>Woven from silver and concealed between two layers of organic cotton, SaunaSpace’s unique shield takes your escape to new depths. Block out cell signals, Wi-Fi, and other electromagnetic fields to find an escape like no other.</p>
			</cms cms3k>
		</div>
	</div>
	<p class="fineprint" style="width: 100%; text-align: center; max-width: 75%;margin: 1em auto;">
		<cms id='cms3l'>
		Shown in Hand-Dyed Turmeric. Also available in Natural, Dark Chocolate, Indigo, and Stone.
		</cms cms3l>
	</p>
</div>

<div class="fullBG" style="background-image:linear-gradient(-74deg, rgba(136,84,26,0.00) 0%,  rgba(136,84,26,1) 73%),url({{ 'infrared-saunas-emf-shield.jpg' | asset_url }}); background-blend-mode: multiply; ">
<section>
	<div class="fullBG-text">
		<cms id='cms4'>


<p class="etica">Your gateway to an immersive escape</p>
<h2>The EMF-Blocking Shield</h2>
<p>Your environment is probably more stressful than you realize. The Faraday is a totally immersive escape from invisible forces like electromagnetic fields (EMFs). Its unique shielding fabric—made of silver and organic cotton—blocks these elements so your body and mind can maximize the benefits of your full-spectrum infrared sauna. <a href="/what-are-electromagnetic-fields-emfs">Third-party testing confirms</a> that our shield blocks up to 99.99% of radio frequencies from 40 kHz to 40 GHz. That kind of protection can feel like the difference between a power nap in a park and a meditation on a mountaintop.</p>
</cms cms4>
	</div>
</section>
</div>

<section>
	<h2 class="h2Margin">
		<cms id='cms5'>
		Pick the Sauna that’s right for you.
		</cms cms5>
	</h2>

		<div class="product-tiles" style="justify-content: center;">
				<div class="product-tile">
					<p><strong>All Saunas</strong></p>
					<p class="checkmark-list">Adjustable sauna panel</p>
					<p class="checkmark-list">Portable enclosure</p>
					<p class="checkmark-list">Grounding mat</p>
					<p class="checkmark-list">Sauna stool</p>
					<p style="margin-top: 1.25em;"><strong>Faraday Sauna Exclusive</strong></p>
					<p class="checkmark-list">EMF-blocking shield</p>
					<p class="checkmark-list">Holistic escape</p>
				</div>
				<!--the include below is looking for rsRP -->
				<!--#include virtual="/res/relatedProducts.asp" -->
				

		</div>
</section>		
			
	<div class="greyBG noMargin">
		<div class="two-cols two-cols-wide noMargin">
			<div class="col">
				<img src="{{ 'thermalight-infrared-bulb-greyBG.jpg' | asset_url }}" alt="Thermalight bulb" />
			</div>
			<div class="col">
				<div class="tcw-text">
					<cms id='cms6'>
					<h2 class="alignLeft">No One Does Infrared Like Us</h2>
					<p>We’ve spent years crafting the perfect hand-blown sauna bulb. We mimic the best of the sun—with none of the harmful UV—to create full-spectrum infrared therapy that is truly one of a kind. </p>
					<a href="/how-do-infrared-saunas-work" class="bold-link arrow-link">See How it Works</a>
					</cms cms6>
				</div>
			</div>
		</div>
	</div>

	<div class="orangeBG noMargin">
		<div class="emf-learn">
			<img src="{{ 'emf-blocking-badge.svg' | asset_url }}" alt="EMF Blocking Sauna" />
			<cms id='cms7'>
			<h2>What are EMFs?</h2>
			<p>Electromagnetic fields (EMFs) are an invisible part of our environment that can impact our experience of calm and relief. Find out how they work, why we care about them, and why you should too.</p>
			<a href="/what-are-electromagnetic-fields-emfs" class="bold-link bold-link-white arrow-link">Learn More</a>
			</cms cms7>
		</div>
	</div>


{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
