{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}	



<img src="{{ 'targeted-therapy.jpg' | asset_url }}" style="display: none;" loading="lazy" />
	<div class="photo-headerBG" style="background-image:url({{ 'targeted-therapy.jpg' | asset_url }}); background-position: 50% 0; ">
		<div class="ph-width">
			<div class="ph-text">
				<cms id='cms0'>
				<h1>Photon<span>&#174;</span> Infrared Therapy Light</h1>
				<h3>Experience Relief Anywhere</h3>
				<p class="etica">At home, at work, and on the road, the Photon shines as your portable infrared therapy oasis. Discover the many ways this one-light wonder can brighten your day.</p>
				</cms cms0>
			</div>
		</div>
	</div>

		<div class="side-by-side">
			<div class="sbs-img"><img src="{{ 'targeted-therapy-light.jpg' | asset_url }}" alt="" loading="lazy" /></div>
			<div class="sbs-text">
				<cms id='cms1'>
				<h2>Target Trouble Spots</h2>
				<p>Enjoy the benefits of infrared therapy wherever and whenever you need it. Bask in the Photon’s glow for deep tissue rejuvenation and calming warmth.</p>
				<a href="/products/photon-infrared-therapy-light" class="btn">Shop Photon Therapy Light</a>
				</cms cms1>
			</div>
		</div>

		<div class="side-by-side sbs-reverse">
			<div class="sbs-img"><img src="{{ 'targeted-therapy-desk-arm.jpg' | asset_url }}" alt="" loading="lazy" /></div>
			<div class="sbs-text">
				<cms id='cms2'>
				<h2>Beat Screen Fatigue</h2>
				<p>Ease the exhaustion of long days at the computer by counteracting the flickering blue light of your screens. Our Photon Desk Arm saves precious desk space and helps you find the perfect angle.</p>
				<a href="/products/photon-desk-arm" class="btn">Shop Photon Desk Arm</a>
				</cms cms2>
			</div>
		</div>

		<div class="side-by-side">
			<div class="sbs-img"><img src="{{ 'targeted-therapy-case.jpg' | asset_url }}" alt="" loading="lazy" /></div>
			<div class="sbs-text">
				<cms id='cms3'>
				<h2>Travel in Comfort</h2>
				<p>The Photon can help your body adjust gracefully during hectic travel days, and the soft case makes it easy to bring along for the adventure. Say hello to your new favorite piece of carry-on.</p>
				<a href="/products/photon-soft-case" class="btn">Shop Photon Soft Case</a>
				</cms cms3>
			</div>
		</div>
	
		<section>
			<div class="divider"></div>
			<div class="two-cols">
				<div class="col">
					<img src="{{ 'targeted-therapy-sauna-supreme.jpg' | asset_url }}" alt="" loading="lazy" />
					<cms id='cms4a'>
					<h2>Sauna Supreme</h2>
					<p>Amp up the intensity of your sauna sessions or give special attention to cold feet with a Photon in your Luminati or Faraday.</p>
					</cms cms4a>
				</div>
				<div class="col">
					<img src="{{ 'targeted-therapy-better-night-light.jpg' | asset_url }}" alt="" loading="lazy" />
					<cms id='4b'>
					<h2>A Better Night Light</h2>
					<p>Escape the strain of harsh indoor lights with a Photon that evokes the warm tones of sunset.</p>
					</cms cms4b>
				</div>
			</div>

		</section>

		<div class="photo-headerBG ph-inline" style="background-image:url({{ 'targeted-therpay-full-spectrum-renewal.jpg' | asset_url }}); background-position: 50% 0; ">
			<div class="ph-width">
				<div class="ph-text">
					<cms id='cms5'>
					<h1>Full-Spectrum Renewal</h1>
					<p class="etica">The magic of SaunaSpace starts with our one-of-a-kind infrared spectrum that blends the best of nature with the latest innovations.</p>
					<a href="/pages/how-do-infrared-saunas-work" class="btn btn-outline">Learn About Thermalight® Technology</a>
					</cms cms5>
				</div>
			</div>
		</div>

		
		<section>
			<h2 class="alignLeft">Shop Photon Therapy</h2>
				<div class="product-tiles">
				
		
						<ul id="product-grid" data-id="{{ section.id }}" class="
						grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
						{% if section.settings.columns_desktop == 1 %} grid--full-width{% else %}
						  grid--{{ section.settings.columns_desktop }}-col-desktop
						{% endif %}">
						
						{% for product in collections.targeted.products %}
						  {% assign lazy_load = false %}
						  {%- if forloop.index > 2 -%}
							{%- assign lazy_load = true -%}
						  {%- endif -%}
					  
						  <li class="grid__item">
							{% render 'card-product-simple',
							  card_product: product,
							  media_aspect_ratio: section.settings.image_ratio,
							  show_secondary_image: section.settings.show_secondary_image,
							  show_vendor: section.settings.show_vendor,
							  show_rating: section.settings.show_rating,
							  lazy_load: lazy_load
							%}
						  </li>
						{%- endfor -%}
					  </ul>
				</div>
		</section>
{% javascript %}
$(".compare-panel").hover(
	function() {
	var whichPanel=$(this).attr("data-panel")
	$("#" + whichPanel).addClass( "num-on" );
},
	function() {
	var whichPanel=$(this).attr("data-panel")
	$("#" + whichPanel).removeClass( "num-on" );
	}
);

$(".num").hover(
	function() {
	var whichNum=$(this).attr("id")
	$("[data-panel=" + whichNum + "]").addClass( "compare-panel-on" );
},
	function() {
	var whichNum=$(this).attr("id")
	$("[data-panel=" + whichNum + "]").removeClass( "compare-panel-on" );
	}
);

{% endjavascript %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
