<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>


<div class="photo-headerBG" style="background-image:url({{ '100-day-home-trial-hero.jpg' | asset_url }}); background-position: 50% 0; ">
    <div class="ph-width">
        <div class="ph-text">
            <cms id='cms0'>
<h1>Get the Most out of Your Sauna</h1>
<p class="etica">Welcome to our ever-growing SaunaSpace community! Get ready to sweat with these happy, healthy sauna habits.</p>
</cms cms0>
        </div>
    </div>
</div>


<div class="two-cols two-cols-wide tc-reverse">
    <div class="col">
        <img src="{{ 'using-your-sauna-before.jpg' | asset_url }}" alt="" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text tcw-text-100">
            <cms id='cms1'>

<p class="etica">BEFORE</p>
<h2 class="alignLeft">Preparing for your session</h2>
<h3>Leave time for warm-up</h3>
<p>Turn on your sauna and close the curtain 10–15 minutes before you start your session. Warming up your sauna is optional, but can help you start sweating faster.</p>
<h3>Hydrate</h3>
<p>While the sauna warms up, drink a glass of water. Hydrating is one of the most important things you can do before sweating.</p>
<h3>Grab only the essentials</h3>
<p>In order for infrared light to penetrate, you should be completely undressed, but you can wear underwear or swimsuit bottoms if you prefer. You’ll want two towels: one for sitting on, and one to lay underneath you to catch falling sweat. Leave any jewelry and electronics outside the sauna.</p>
</cms cms1>
        </div>
    </div>
</div>

<div class="two-cols two-cols-wide">
    <div class="col">
        <img src="{{ 'using-your-sauna-during.jpg' | asset_url }}" alt="" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms2'>

<p class="etica">DURING</p>
<h2 class="alignLeft">Enjoying the Sauna</h2>
<h3>Get in position</h3>
<p>Keep the light panel 18–30 inches from your torso. The light at the top of the panel should be at chest height.</p>

<h3>Don’t forget to rotate</h3>
<p>Rotate a quarter turn every 2–5 minutes to get faster full-body benefits from the light panel.</p>

<h3>Start with 20 minutes</h3>
<p>If you’re sensitive to heat or light, start slower with 5–10 minutes. Once you’re used to it, you can gradually increase your time in the sauna. Sessions should never go over 60 minutes with no more than two sessions per day.</p>

<h3>Adjust for comfort</h3>
<p>If the heat is too intense, you can switch off one or more of the lamps on the panel or open the curtain. Alternatively, you can always shorten your session.</p>

<h3>Relax</h3>
<p>It’s tempting to multitask, but try to eliminate any activity that could cause you stress. A relaxed body and mind will give you the best results.</p>
</cms cms2>
        </div>
    </div>
</div>

<div class="two-cols two-cols-wide tc-reverse">
    <div class="col">
        <img src="{{ 'using-your-sauna-after.jpg' | asset_url }}" alt="" loading="lazy" />
    </div>
    <div class="col">
        <div class="tcw-text">
            <cms id='cms3'>

<p class="etica">AFTER</p>
<h2 class="alignLeft">Finishing Strong</h2>
<h3>Power down</h3>
<p>Turn off your sauna once our session is finished, and remove any used towels.</p>

<h3>Freshen up</h3>
<p>Wash off all the sweat (and everything that came out with it) with a quick shower. Keep the detox going with gentle exfoliation using our <a href="/products/saunaspace-exfoliating-brush">SaunaSpace Exfoliating Brush</a>.</p>

<h3>Rehydrate</h3>
<p>Your body just lost a lot of water, so take a moment to replenish.</p>

<h3>Ease into your day</h3>
<p>Give yourself 10–15 minutes to rest before returning to your regular activities. </p>
</cms cms3>
        </div>
    </div>
</div>


<div class="tanBG noMargin">

    <div class="two-cols two-cols-wide">
        <div class="col">
            <img src="{{ 'using-your-sauna-bestPractices.jpg' | asset_url }}" alt="" loading="lazy" />
        </div>
        <div class="col">
            <div class="tcw-text">
                <cms id='cms4'>
<h2 class="alignLeft">Best Practices</h2>
<h3>Clothing and protection</h3>
<p>You do not need to wear clothing or eye protection in your infrared sauna. In fact, <a href="https://blog.sauna.space/near-infrared-light-saunas-are-safe-for-eyes-and-dont-cause-cataracts/">we wrote a whole article on how infrared light works with your eyes</a>. If you do choose to wear clothing, pick something loose, lightweight, undyed, and made of natural fibers.</p>

<h3>Supervision</h3>
<p>Supervision is a good idea, especially if you’re new to infrared saunas. If you’re alone, have someone check on you afterwards by phone as a safety precaution.</p>

<h3>Phone use</h3>
<p>We don’t recommend that you use your phone or any other devices in the sauna. In the Faraday specifically, we include a special EMF-blocking lining designed to block out cell signals and Wi-Fi. If you bring devices into that environment, you’ll interrupt that barrier and reduce the effectiveness of your session.</p>
</cms cms4>
            </div>
        </div>
    </div>

    <div class="two-cols two-cols-wide tc-reverse">
        <div class="col">
            <img src="{{ 'using-your-sauna-personalizing.jpg' | asset_url }}" alt=""  loading="lazy"/>
        </div>
        <div class="col">
            <div class="tcw-text">
                <cms id='cms5'>
<h2 class="alignLeft">Personalizing Your Sauna Regimen</h2>
<p>Although occasional sessions can be a great way to relax, developing a routine is the best way to enjoy all the benefits your infrared sauna has to offer.</p>

<h3>When?</h3>
<p>Choose a time of day that’s regularly free and ideal for relaxing. Many people like to schedule their sessions as part of their morning or bedtime routine, and others prefer to tack it onto the end of their workouts. There’s no wrong answer. The important thing is that you’re consistent.</p>

<h3>How often?</h3>
<p>If you’re new to using an infrared sauna, give yourself time to adjust. Start with one session per week and work your way up to one per day. Each person is different, so work your way up to what feels good to you. It’s okay to take a break. Your sauna will be there waiting when you’re ready to come back to it. </p>

<h3>Don’t push yourself</h3>
<p>Relaxation and wellness is not a contest. You’ll do more harm than good by pushing your limits. Part of forming healthy habits is developing a routine that is sustainable, so be kind to yourself.</p>
<p>Sometimes people experience uncomfortable physical or emotional symptoms right after their first sauna sessions. These are known as <b>healing or detox reactions</b>, and they are actually a good thing! It’s a sign that your body is releasing toxic substances that are holding you back from optimal health. These reactions are usually mild and temporary, but if symptoms persist or worsen, see your doctor.</p>
</cms cms5>
            </div>
        </div>
    </div>

</div>


<div class="orangeBG noMargin">
    <section>
            <cms id='cms6'>
<div class="discover-benefits">
<div class="db-text">
<h2>Discover the Benefits of Full-Spectrum Infrared Therapy</h2>
<a href="/pages/full-spectrum-infrared-sauna-health-benefits" class="bold-link bold-link-white  arrow-link">See All Benefits</a>
</div>
<div class="db-icons">
<div class="db-icon etica">
<img src="{{ 'detoxification-white.svg' | asset_url }}" alt="" loading="lazy"/>
Detoxification
</div>
<div class="db-icon etica">
<img src="{{ 'immunity-boosting-white.svg' | asset_url }}" alt=""  loading="lazy" />
Immunity Boosting
</div>
<div class="db-icon etica">
<img src="{{ 'stress-reduction-white.svg' | asset_url }}" alt="" loading="lazy" />
Stress Reduction
</div>
<div class="db-icon etica">
<img src="{{ 'mental-performance-white.svg' | asset_url }}" alt="" loading="lazy" />
Mental Performance
</div>
</div>
</div>
</cms cms6>
    </section>
</div>


{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
