{% include 'bread-checkout-options' %}
<script src="https://shopify.getbread.com/static/a1d10d47-e53e-49a4-b7c6-b5884a5aa307/checkout.js" type="application/javascript"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('img[alt="Bread"]').setAttribute('src', 'https://cdn.shopify.com/s/files/1/0026/7229/6025/files/ss-logo-full-4-white-bg-horizontal-lg.png?2497');
  });
</script>
<style>
 .additional-checkout-buttons, .paypalLight, .shopify-cleanslate .kEwctmM5pguv6XkPR8mx6:last-child {
    display: none !important;
} 
  

</style>
{%- assign cart_title = 'cart.general.title' | t -%}
<div class="main-page-wrapper">
  <h1 class="cart-header">Your Shopping Cart</h1>
  {%- include 'page_heading', page_title:cart_title -%}
  <!-- MAIN CONTENT AREA -->
  <div class="container">
    <div class="row">
      <div class="site-content col-sm-12" role="main">
        <article id="post-7" class="post-7 page type-page status-publish hentry">
          <div class="entry-content">
            <div class="shopify">
              {%- if cart.item_count > 0 -%}
              <form style="margin-bottom:20px;" class="shopify-cart-form" action="/cart" method="post">
                <div class="responsive-table">
                  <div class="responsive-table">
                    <table class="shop_table shop_table_responsive cart shopify-cart-form__contents" cellspacing="0">
                      <thead>
                        <tr>
                          <th class="product-remove">&nbsp;</th>
                          <th class="product-thumbnail">&nbsp;</th>
                          <th class="product-name">{{ 'cart.page.product' | t }}</th>
                          <th class="product-price">{{ 'cart.page.price' | t }}</th>
                          <th class="product-quantity">{{ 'cart.page.quantity' | t }}</th>
                          <th class="product-subtotal">{{ 'cart.page.total' | t }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        {%- for item in cart.items -%}
                        <tr class="shopify-cart-form__cart-item cart_item cart_item_{{ item.id }}">
                          <td class="product-remove">
                            <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="remove" aria-label="Remove this item" data-product_id="{{ item.id }}" data-product_sku="{{ item.sku }}">×</a>						
                          </td>
                          <td class="product-thumbnail">
                            <a href="{{ item.url | within: item.product.collections.last }}">
                              {%- if item.image -%}
                              {%- assign check_break = false -%}
                              {%- assign check_not_img_one = false -%}
                              {%- if item.variant.featured_image != null or item.product.has_only_default_variant -%}
                              <img width="219" height="280" class="attachment-shop_thumbnail size-shop_thumbnail sp-post-image" alt="{{ item.title | escape }}" 
                                   src="{%-include 'gl_image_format',cache:true,src:item, size: '219x' -%}">                    
                              {%- else -%}
                              {%- if settings.color_name_check != blank -%}{%- assign _gl_color_name = settings.color_name_check | replace: ' ,', ',' | replace: ', ', ',' | split: ',' -%}{%- assign gl_color_name = _gl_color_name | downcase -%}{%-else-%}{%- assign gl_color_name = '\nathan_dt\' -%}{%-endif-%}
                              {%- assign check_break = false -%}
                              {%- assign check_not_img_one = false -%}
                              {%- for option in item.product.options -%}
                              {%- assign downcased_option = option | downcase -%}
                              {%- if downcased_option == 'color' or downcased_option == 'colour' or gl_color_name contains downcased_option_check -%}
                              {%- assign item_title_variant = item.variant.options[forloop.index0] -%}
                              {%- for image in item.product.images -%}
                              {%- if image.attached_to_variant? -%}
                              {% for variant in image.variants %}
                              {%- if variant.title contains item_title_variant and variant.image.src != blank -%}
                              <img width="219" height="280" class="img_no_feature attachment-shop_thumbnail size-shop_thumbnail sp-post-image" alt="{{ image.alt | escape }}" 
                                   src="{%-include 'gl_image_format',cache:true,src:image.src, size: '219x' -%}">
                              {%- assign check_not_img_one = false -%}
                              {%- assign check_break = true -%}
                              {%- break -%}
                              {%- else -%}
                              {%- assign check_not_img_one = true -%}
                              {%- endif-%}
                              {% endfor %}
                              {%- if check_break -%}{%- break -%}{%- endif-%}
                              {%- else -%}
                              {%- assign check_not_img_one = true -%}
                              {%- endif-%}
                              {%- endfor -%}
                              {%- else -%}
                              {%- assign check_not_img_one = true -%}
                              {%- endif -%}
                              {%- endfor -%}
                              {%- endif -%}
                              {%- if check_not_img_one and check_break == false -%}
                              <img width="219" height="280" class="gl_b attachment-shop_thumbnail size-shop_thumbnail sp-post-image" alt="{{ item.title | escape }}" 
                                   src="{%-include 'gl_image_format',cache:true,src:item, size: '219x' -%}"> 
                              {%- endif -%}
                              {%- else-%}
                              <img width="219" height="280" src="{{ 'noimage.gif' | asset_img_url: '219x' }}" alt="no image">
                              {%- endif -%}
                            </a>						
                          </td>
                          <td class="product-name" data-title="{{ 'cart.page.product' | t }}">
                            <a href="{{ item.url | within: item.product.collections.last }}">{% comment %}{% if item.properties.product %}{{ all_products[item.properties.product].title }} → {% endif %}{% endcomment %}{{ item.product.title }}</a>
                            {%- if item.product.has_only_default_variant == false -%}
                            <dl class="variation">
                              {%- for option in item.product.options -%}
                              <dt class="variation-Color">{{ option | capitalize }}:</dt>
                              <dd class="variation-Color"><p>{{ item.variant.options[forloop.index0] | capitalize }}</p></dd>
                              {%- endfor -%}
                            </dl>
                            {%- endif -%}
                          </td>
                          <td class="product-price" data-title="{{ 'cart.page.price' | t }}">
                            <span class="shopify-Price-amount amount"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>{{ item.price | money }}</span>						
                          </td>
                          <td class="product-quantity" data-title="{{ 'cart.page.quantity' | t }}">
                            <div class="quantity">
                              <input type="button" value="-" class="minus">
                              <input type="number" data-price="{{item.price}}" data-format='{{shop.money_format}}' data-vid="{{item.id}}" required="required" step="1" min="0" {%- if item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %} max="999"{%- else %} max="{{ item.variant.inventory_quantity }}"{%- endif %} name="updates[]" id="updates_{{ item.key }}"  value="{{ item.quantity }}" title="Qty" class="input-text qty text custom-qty" size="4" pattern="[0-9]*" inputmode="numeric">
                              <input type="button" value="+" class="plus">
                            </div>
                          </td>
                          <td class="product-subtotal" data-title="{{ 'cart.page.total' | t }}">
                            <span class="shopify-Price-amount amount">{%- if item.original_line_price != item.line_price -%}<s>{{ item.original_line_price | money }}</s> {% endif -%}<span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_total" style="display:none !important;"></span>{{ item.line_price | money }}</span>						
                          </td>
                        </tr>
                        {%- endfor -%}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div style="display:none;" class="row cart-actions">
                  {%- if settings.cart_clear_enable -%}
                  <div class="col-md-6">
                    <div class="coupon">
                      <a href="/cart/clear" class="clear-button button alt">{{ 'cart.general.clear' | t }}</a>
                    </div>
                  </div>
                  {%- endif -%}
                  <div class="col-md-6">
                    <input type="submit" name="update" class="button update-cart" value="{{ 'cart.general.update' | t }}">	
                  </div>
                </div>

                <div class="cart-collaterals{%- if settings.cart_notes_enable %} gl_cart_note{%- endif -%}">
                  {%- if settings.cart_notes_enable -%}
                  <div class="cart_totals note">
                    <h2>Order Special Instructions</h2>
                    <textarea name="note" class="cart-note__input" colspan="6" placeholder="Order Notes: Request Direct-Signature-Required (DSR), hold your order until a certain date, etc. (optional)">{{ cart.note }}</textarea>
                    <div class="wc-proceed-to-checkout invisible">
                      <a href="javascript:void(0)" class="checkout-button button alt wc-forward">{{ 'cart.general.proceed_checkout' | t }}</a>
                    </div>
                    {% include 'shipping-calculator' %}
                    
                  	
                    
                  </div>
                  {%- endif -%}
                                  

                  <div class="cart_totals{%- if settings.use_agree_checkbox_page %} form_nt_agree nt_checkout pe_none{%- endif -%}">
                    <h2>{{ 'cart.general.total_title' | t }}</h2>
                    <div class="responsive-table">
                      <div class="responsive-table">
                        <table cellspacing="0" class="shop_table shop_table_responsive">
                          <tbody>
                            <tr class="cart-subtotal">
                              <th>{{ 'cart.general.subtotal' | t }}</th>
                              <td data-title="{{ 'cart.general.subtotal' | t }}"><span class="shopify-Price-amount amount"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>{{ cart.total_price | money }}</span></td>
                            </tr>
                            {%- if settings.use_threshold_page  == false -%}
                            <tr class="shipping">
                              <th>{{ 'cart.general.shipping' | t }}</th>
                              <td data-title="{{ 'cart.general.shipping' | t }}">
                                <ul id="shipping_method">
                                  <li>
                                    <input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_legacy_free_shipping" value="legacy_free_shipping" class="shipping_method hide hidden" checked="checked">
                                    <label for="shipping_method_0_legacy_free_shipping">{{ 'cart.general.shipping_at_checkout' | t }}</label>					
                                  </li>
                                </ul>
                              </td>
                            </tr>
                            {%- endif -%}
                            <tr class="order-total">
                              <th>{{ 'cart.general.total' | t }}</th>
                              <td data-title="{{ 'cart.general.total' | t }}"><strong><span class="shopify-Price-amount amount"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total_2" style="display:none !important;"></span>{{ cart.total_price | money }}</span></strong></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    {%- if settings.use_threshold_page -%}<div class="ship_nt_wrap">{%- assign settings_free_shipping_above = settings.free_shipping_above -%}{%- include 'shipping-threshold' -%}</div>{%- endif -%}
                    <table cellspacing="0" class="shop_table shop_table_responsive">
                      <tbody>
                        <tr class="shipping">
                          <th>{{ 'cart.general.coupon' | t }}</th>
                          <td data-title="Shipping" class="coupon_Shipping"><input type="text" name="discount" class="input-text w__100" id="coupon_code" value="" placeholder="{{ 'cart.general.placeholder_coupon' | t }}"></td>
                        </tr>
                      </tbody>
                    </table>
                  {%- if settings.use_agree_checkbox_page -%}
                       {%- assign page_url = pages[settings.link_conditions].url -%}
                       <p class="agree_checkbox content_threshold">
                           <label class="label-for-checkbox">
                           <input type="checkbox" class="input-checkbox nt_agree">
                           {%- if settings.link_conditions != blank -%}{{ 'cart.general.link_conditions_html' | t:link: page_url }}{%- else -%}{{ 'cart.general.link_conditions_emty' | t }}{%- endif -%}
                           </label>
                        </p>
                  {%- endif -%}
                    <div class="wc-proceed-to-checkout">
                      <button class="checkout-button button alt" name="checkout">{{ 'cart.general.proceed_checkout' | t }}</button>
                      {% if settings.use_additional_checkout_buttons and additional_checkout_buttons %}
                      <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
                      {% endif %}
                      {% if cart.item_count > 0 %}
{% if additional_checkout_buttons %}
  <div class="additional-checkout-buttons">
    {{ content_for_additional_checkout_buttons }}
  </div>
{% endif %}
<div id="bread-checkout-btn" style="width:280px; height:50px; background: #ffffff; color: #d9661f; border: 2px solid #d9661f; border-radius: 4px; margin: 1rem auto; display: inline-block;  font-weight: bold; line-height: 1.5; text-align: center; vertical-align: middle;">Pay Over Time</div>
                      {% endif %}
                    </div>

                  </div>
                </div>
                {%comment%}
                <table cellspacing="0" class="shop_table shop_table_responsive">
                  <tbody>
                    <tr class="shipping">
                      <th>{{ 'cart.general.coupon' | t }}</th>
                      <td data-title="Shipping"><input type="text" name="discount" class="input-text w__100" id="coupon_code" value="" placeholder="{{ 'cart.general.placeholder_coupon' | t }}"></td>
                    </tr>
                  </tbody>
                </table>
                <div class="wc-proceed-to-checkout tr">
                  <button class="checkout-button button alt" name="checkout">{{ 'cart.general.proceed_checkout' | t }}</button>
                </div>
                {%endcomment%}
              </form>
              {%- else -%}
              <p class="cart-empty">{{ 'cart.general.empty_page' | t }}</p>
              <div class="basel-empty-cart-text">{{ 'cart.general.guest_note_html' | t }}</div>
              <p class="return-to-shop"><a href="collections/all" class="button wc-backward">{{ 'cart.general.continue_shopping' | t }}</a></p>
              {%- endif -%}
              <div class="yotpo yotpo-reviews-carousel" 
               data-background-color="transparent" 
               data-mode="top_rated" 
               data-type="site" 
               data-count="9" 
               data-show-bottomline="1" 
               data-autoplay-enabled="1" 
               data-autoplay-speed="3000" 
               data-show-navigation="1">&nbsp;
              </div>
            </div>
          </div>
        </article>
        <!-- #post -->
      </div>
      <!-- .site-content -->
    </div>
  </div>
  <!-- end container -->
</div><!-- .main-page-wrapper -->